{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}
{% block title %}
    <a href="{{ path('steam') }}">
        <span class="icon" data-icon="&#x29;" title="{{ 'machine.back'|trans }}"></span>
    </a>
    
    {{ 'steam.hltv.title'|trans }}
{% endblock %}

{% block content %}
    <h2>{{ 'steam.showTitle'|trans }}</h2>

    {% if status == true %}
        <p><a href="{{ path('steam_hltv_stop', {id: id}) }}">{{ 'steam.hltv.running'|trans }}.</a></p>
    {% else %}
	    {% if notHltv == true %}
	        <p class="alert alert-danger">{{ 'steam.hltv.portAlreadyUsed'|trans }}</p>
	    {% endif %}
	    
        <form action="{{ path('steam_hltv_start', {id: id}) }}" method="post">
            {% if banned %}
                <p>{{ 'game.banned'|trans }}.</p>
            {% endif %}
                
            {{ form_label(form.ip) }} {{ form_widget(form.ip) }} 
            <b>:</b> {{ form_widget(form.port) }}<br />
                
            {{ form_label(form.servIp) }} {{ form_widget(form.servIp) }} 
            <b>:</b> {{ form_widget(form.servPort) }}
            
            {{ form_rest(form) }}
            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    {{ 'steam.hltv.connect'|trans }}
                </button>
            </div>
        </form>
    {% endif %}
{% endblock %}