{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% set sid = instance.id  %}
{% set id  = instance.server.id %}

<div class="actions clearfix">
    {% if is_granted('ROLE_DP_VOIP_TEAMSPEAK_INSTANCE_STATE', server) %}
        {% if online %}
            <a href="{{ path('dedipanel_teamspeak_instance_change_state', { id: sid, serverId: serverId, state: 'stop' }) }}">
                <span class="icon" data-icon="&#x24;" title="{{ 'game.stop'|trans }}"></span>
            </a>
            
            <a href="{{ path('dedipanel_teamspeak_instance_change_state', { id: sid, serverId: serverId, state: 'restart' }) }}">
                <span class="icon" data-icon="&#x27;" title="{{ 'game.restart'|trans }}"></span>
            </a>
        {% else %}
            <a href="{{ path('dedipanel_teamspeak_instance_change_state', { id: sid, serverId: serverId, state: 'start' }) }}">
                <span class="icon" data-icon="&#x22;" title="{{ 'game.start'|trans }}"></span>
            </a>
        {% endif %}
    {% endif %}
    
    {% if is_granted('ROLE_DP_VOIP_TEAMSPEAK_INSTANCE_UPDATE', server) %}
        <a href="{{ path('dedipanel_teamspeak_instance_update', {id: sid, serverId: id}) }}">
            <span class="icon" data-icon="&#x25;" title="{{ 'game.edit'|trans }}"></span>
        </a>
    {% endif %}
    
    {% if  is_granted('ROLE_DP_VOIP_TEAMSPEAK_INSTANCE_INDEX', server)  and show and online %}
        <a href="{{ path('dedipanel_teamspeak_instance_index', {serverId: sid, serverId: id}) }}" class="slide">
            <span class="icon" data-icon="&#x21;" title="{{ 'steam.show'|trans }}"></span>
        </a>
    {% endif %}
</div>
