{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% set serverId = app.request.get('serverId') %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_teamspeak_index'), 'teamspeak.instance.title.teamspeak'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'teamspeak.instance.title.index'|trans }}</h2>

    <ul id="top-nav" class="nav nav-tabs">
        {{ dedipanel_buttons.create(path('dedipanel_teamspeak_instance_create', {serverId: serverId}), 'teamspeak.instance.add'|trans, 'ROLE_DP_VOIP_TEAMSPEAK_INSTANCE_CREATE', null, true) }}
        {{ dedipanel_buttons.edit(path('dedipanel_teamspeak_update', {id: serverId, fromMachine: true}), 'teamspeak.edit'|trans, 'ROLE_DP_VOIP_TEAMSPEAK_UPDATE', null, true) }}
    </ul>

    {{ dedipanel_flashes.all() }}

    <div id="teamspeak" class="instance-list">
    {% for entity in instances %}
        <div class="instance-item clearfix">
        {% set online = entity.query.isOnline and entity.query.isInstanceOnline(entity.instanceId) %}

        {% if is_granted('ROLE_DP_VOIP_TEAMSPEAK_INSTANCE_SHOW', entity) %}
            <a href="{{ path('dedipanel_teamspeak_instance_show', {id: entity.id, serverId: serverId}) }}">
                {{ entity.name }}
            </a>
        {% else %}
            {{ entity.name }}
        {% endif %} -

        {% if online %}
            Running
        {% else %}
            Stopped
        {% endif %}

        {% if entity.isInstallationEnded %}
            {% include 'DPTeamspeakServerBundle:TeamspeakServerInstance:actionBar.html.twig' with {show: true, online: online, instance: entity} %}
        {% endif %}

        {% if online %}
            {{ entity|ts_viewer|raw }}
        {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}
