{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% set serverId = app.request.get('serverId') %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_teamspeak_instance_index', {serverId: serverId}), 'teamspeak.instance.title.teamspeak'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'teamspeak.instance.title.update'|trans }}</h2>

    <form action="{{ path('dedipanel_teamspeak_instance_update', {id: instance.id, serverId: serverId}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        {{ dedipanel_actions.update() }}
    </form>

    {{ dedipanel_buttons.delete(path('dedipanel_teamspeak_instance_delete', {id: instance.id, serverId: instance.server.id, fromMachine: true}), null, 'ROLE_DP_VOIP_TEAMSPEAK_INSTANCE_DELETE', instance) }}
{% endblock %}