{# 
 Copyright (C) 2010-2013 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::layout.html.twig" %}

{% block bundleStylesheets %}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/dpgameserver/css/game.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/dpgameserver/js/rcon.js') }}"></script>
{% endblock %}

{% block title %}
    <a href="{{ path(baseRoute) }}"> 
        <span class="icon" data-icon="&#x29;" title="{{ 'game.back'|trans }}"></span>
    </a>
    
    {{ (baseRoute ~ '.title')|trans }}
{% endblock %}

{% block content %}
    <h2>{{ 'game.rcon.title'|trans }}</h2>
    
    {% if online and not banned %}
        <form action="{{ path(baseRoute ~ '_rcon_execute', {id: sid}) }}" method="post" class="form-rcon" id="rcon-form">
            <textarea disabled="disabled">{{ log }}</textarea>
            
            {{ form_row(form.cmd) }}
            {{ form_widget(form) }}

            <div class="form-actions">
                <button class="btn btn-primary">
                    {{ 'game.rcon.send'|trans }}
                </button>
            </div>
        </form>
    {% elseif banned %}
        {{ 'game.banned'|trans }}
    {% else %}
        {{ 'game.offline'|trans }}
    {% endif %}
{% endblock %}
