{#
    (c) Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_user_index'), 'user.title.user'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'user.title.add'|trans }}</h2>

    <form action="{{ path('dedipanel_user_create') }}" method="post">
        {{ form_widget(form) }}
        {{ dedipanel_actions.create() }}
    </form>
{% endblock %}
