{#
    (c) Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_user_show', {'id': user.id}), 'user.title.user'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'user.title.edit'|trans }}</h2>

    <form id="form-update" action="{{ path('dedipanel_user_update', { 'id': user.id }) }}" method="post" class="form-edit">    
        {{ form_widget(form) }}
    </form>
    
    <div class="form-actions">
        {{ dedipanel_actions.update(path('dedipanel_user_show', {'id': user.id})) }}    
        {{ dedipanel_buttons.delete(path('dedipanel_user_delete', {'id': user.id}), null, 'ROLE_DP_ADMIN_USER_DELETE', user) }}
    </div>
{% endblock %}
