{% extends (app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED")) ? "::layout-online.html.twig" : "::layout-offline.html.twig" %}

{% block body %}
    {% if status_code == 403 %}
        <div class="alert alert-error"><ul><li>
            {{ 'dedipanel.error.forbidden'|trans }}
        </li></ul></div>
    {% elseif status_code == 404 and exception.previous is ftp exception %}
        <div class="alert alert-error"><ul><li>
            {{ 'game.ftp.not_found'|trans }}
        </li></ul></div>
    {% elseif status_code == 404 %}
        <div class="alert alert-error"><ul><li>
            {{ 'dedipanel.error.not_found'|trans }}
        </li></ul></div>
    {% elseif status_code == 405 %}
        <div class="alert alert-error"><ul><li>
            {{ 'dedipanel.error.method_not_allowed'|trans }}
        </li></ul></div>
    {% else %}
        <h1>{{ 'dedipanel.error.oops'|trans }}</h1>
        <h2>{{ 'dedipanel.error.error_encountered'|trans }}</h2>

        {% if dedipanel.debug is defined and dedipanel.debug
        and exception is defined and app.user is not null and is_granted('ROLE_SUPER_ADMIN') %}
            <p>
                <strong>{{ exception.class }}</strong>: {{ exception.message }}
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
