{% extends 'DPAdminGameBundle:CRUD:batch_confirmation.html.twig' %}

{% block body %}
    <h2>{{ 'plugin_admin.batch_title'|trans }}</h2>

    <ul id="top-nav" class="nav nav-tabs">
        <li>
            <a href="{{ path('plugin_admin') }}">
                {{ 'admin.back'|trans }}
            </a>
        </li>
    </ul>
    
    <form action="{{ path('plugin_admin_batch_delete') }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="hidden" name="confirmation" value="ok" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        
        {% for el in elements %}
            <input type="hidden" name="idx[]" value="{{ el }}" />
        {% endfor %}
        
        <p>{{ 'admin.batch.confirmation'|transchoice(elements|length) }}</p>
        
        <div class="well form-actions">
            <input type="submit" class="btn btn-danger" value="{{ 'admin.execute_btn'|trans }}" />
            {{ 'admin.or'|trans }}
            <a class="btn btn-success" href="{{ path('plugin_admin') }}">{{ 'admin.go_back'|trans }}</a>
        </div>
    </form>
{% endblock %}
