{% extends 'DPAdminGameBundle:CRUD:index.html.twig' %}

{% block body -%}
    <h2>{{ 'plugin_admin.list'|trans }}</h2>
    
    <ul id="top-nav" class="nav nav-tabs">
        <li>
            <a href="{{ path('plugin_admin_new') }}">
                {{ 'plugin_admin.add'|trans }}
            </a>
        </li>
    </ul>
    
    {% for notice_level in ['success','error','info', 'warning'] %}
        {% set session_var = 'dp_flash_' ~ notice_level %}
        {% for flash in app.session.flashbag.get(session_var) %}
            <div class="alert {{ 'alert-' ~ notice_level }}">
                {{ flash|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <form action="{{ path('plugin_admin_batch_delete') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        
        <table class="table table-bordered table-striped records_list">
            <thead>
                <tr>
                    <th><input type="checkbox" id="batch_all" /></th>
                    <th>{{ 'plugin_admin.fields.name'|trans }}</th>
                    <th>{{ 'plugin_admin.fields.version'|trans }}</th>
                    <th>{{ 'plugin_admin.fields.download_url'|trans }}</th>
                    <th>{{ 'plugin_admin.fields.install_script'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><input type="checkbox" name="idx[]" value="{{ entity.id }}" /></td>
                    <td><a href="{{ path('plugin_admin_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.version }}</td>
                    <td>{{ entity.downloadUrl }}</td>
                    <td>{{ entity.scriptName }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="form-inline">
                            <select name="action">
                                <option name="delete">{{ 'admin.delete'|trans }}</option>
                            </select>
                            
                            <input type="submit" value="OK" class="btn btn-primary btn-small" />
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </form>
{% endblock %}
