{#
 (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}

{% extends "::layout-installer.html.twig" %}

{% block content %}
    {% include "DPDistributionBundle:Configurator:steps.html.twig" %}

    <legend>{{ 'configurator.auto_install.title'|trans }}</legend>
    <p class="legend-information">{{ 'configurator.auto_install.description'|trans }}</p>
    
    <form action="{{ path('dedipanel_installer_step', {'type': configType, 'step': step}) }} " method="post" class="long-label">
        {{ form_widget(form) }}

        <div class="form-actions">
            <p><input type="submit" value="{{ 'configurator.next'|trans }}" class="btn btn-primary" /></p>
        </div>
    </form>
{% endblock %}
