{% extends "SensioDistributionBundle::Configurator/layout.html.twig" %}

{% block title %}Préconfiguration du panel{% endblock %}

{% block content %}
    {% form_theme form "SensioDistributionBundle::Configurator/form.html.twig" %}

    <legend>Préconfiguration du panel</legend>

    {{ form_errors(form) }}
    <form action="{{ path('_configurator_step', { 'index': index }) }} " method="POST">

        {{ form_rest(form) }}

        <div class="form-actions">
            <input type="submit" value="{{ 'Next Step'|trans }}"  class="btn btn-primary" />
        </div>
    
        <span class="information">
            {{ 'fixtures.description.db'|trans }}<br />
            {{ 'fixtures.description.fixtures'|trans }}<br />
            {{ '* mandatory fields'|trans }}
        </span>

    </form>
{% endblock %}
