{% extends "SensioDistributionBundle::Configurator/layout.html.twig" %}

{% block title %}Symfony - Configure global Secret{% endblock %}

{% block content %}
    {% form_theme form "SensioDistributionBundle::Configurator/form.html.twig" %}

     <legend>{{ 'secret.title'|trans }}</legend>
    
    {{ form_errors(form) }}
    <form action="{{ path('_configurator_step', { 'index': index }) }} " method="POST">
        <div class="symfony-form-row">
            {{ form_label(form.secret) }}
            <div class="symfony-form-field">
                {{ form_widget(form.secret) }}
                <a class="symfony-button-grey" href="#" onclick="generateSecret(); return false;">{{ 'secret.generate'|trans }}</a>
                <div class="symfony-form-errors">
                    {{ form_errors(form.secret) }}
                </div>
            </div>
        </div>

        {{ form_rest(form) }}

        <div class="form-actions">
        <input type="submit" value="{{ 'Next Step'|trans }}" class="btn btn-primary" />
        </div>

        <span class="information">
            {{ 'secret.description'|trans }}<br />
            {{ '* mandatory fields'|trans }}
        </span>
    </form>

    <script type="text/javascript">
        function generateSecret()
        {
            var result = '';
            for (i=0; i < 32; i++) {
                result += Math.round(Math.random()*16).toString(16);
            }
            document.getElementById('distributionbundle_secret_step_secret').value = result;
        }
    </script>
{% endblock %}
