<<<<<<< HEAD
{% extends "SensioDistributionBundle::Configurator/layout.html.twig" %}

{% block title %}Configuration du Super Admin{% endblock %}

{% block content %}
    {% form_theme form "SensioDistributionBundle::Configurator/form.html.twig" %}

     <legend>{{ 'super_admin.title'|trans }}</legend>

    {{ form_errors(form) }}
    <form action="{{ path('_configurator_step', { 'index': index }) }} " method="POST">

        {{ form_rest(form) }}

        <div class="form-actions">
            <p><input type="submit" value="{{ 'Next Step'|trans }}" class="btn btn-primary" /></p>
        </div>
        
        <span class="information">
            {{ 'super_admin.description'|trans }}<br />
            {{ '* mandatory fields'|trans }}
        </span>
        
=======
{% extends "DPDistributionBundle:Configurator:layout.html.twig" %}

{% block content %}
    {% form_theme form "DPDistributionBundle:Configurator:form.html.twig" %}
    {% include "DPDistributionBundle:Configurator:steps.html.twig" %}

    <h1>{{ 'configurator.userCreation.title'|trans }}</h1>
    <p>{{ 'configurator.userCreation.description'|trans }} :</p>

    {{ form_errors(form) }}
    <form action="{{ path('installer_step', {'type': configType, 'index': index}) }} " method="post">
        {{ form_rest(form) }}

        <div class="symfony-form-footer">
            <p><input type="submit" value="{{ 'configurator.next'|trans }}" /></p>
            <p>* {{ 'configurator.mandatoryFields'|trans }}</p>
        </div>

>>>>>>> master
    </form>
{% endblock %}
