{% extends "DPDistributionBundle:Configurator:layout.html.twig" %}

{% block content %}
    {% form_theme form "DPDistributionBundle:Configurator:form.html.twig" %}
    {% include "DPDistributionBundle:Configurator:steps.html.twig" with { "index": index, "count": count } %}

     <legend>{{ 'super_admin.title'|trans }}</legend>

    {{ form_errors(form) }}
    <form action="{{ path('_configurator_step', { 'index': index }) }} " method="POST">

        {{ form_rest(form) }}

        <div class="form-actions">
            <p><input type="submit" value="{{ 'Next Step'|trans }}" class="btn btn-primary" /></p>
        </div>
        
        <span class="information">
            {{ 'super_admin.description'|trans }}<br />
            {{ '* mandatory fields'|trans }}
        </span>
    </form>
{% endblock %}
