{% extends "::layout-installer.html.twig" %}

{% block content %}
    {% form_theme form "DPDistributionBundle:Configurator:form.html.twig" %}
    {% include "DPDistributionBundle:Configurator:steps.html.twig" with { "index": index, "count": count } %}

     <legend>{{ 'configurator.userCreation.title'|trans }}</legend>
     <p>{{ 'configurator.userCreation.description'|trans }}</p>

    <div class="text-error">
        {{ form_errors(form) }}
    </div>
    
    <form action="{{ path('installer_step', { 'type': configType, 'index': index }) }} " method="POST">

        {{ form_rest(form) }}

        <div class="form-actions">
            <p><input type="submit" value="{{ 'configurator.next'|trans }}" class="btn btn-primary" /></p>

            <span class="information">
                {{ 'configurator.mandatoryFields'|trans }}
            </span>       
        </div>
    </form>
{% endblock %}
