{% extends "::layout-installer.html.twig" %}

{% block content %}
    {% form_theme form "DPDistributionBundle:Configurator:form.html.twig" %}
    {% include "DPDistributionBundle:Configurator:steps.html.twig" with { "index": index, "count": count } %}

     <legend>{{ 'configurator.userCreation.title'|trans }}</legend>
     <p>{{ 'configurator.userCreation.description'|trans }}</p>

    {{ form_errors(form) }}
    <form action="{{ path('_configurator_step', { 'index': index }) }} " method="POST">

        {{ form_rest(form) }}

        <div class="form-actions">
            <p><input type="submit" value="{{ 'Next Step'|trans }}" class="btn btn-primary" /></p>

            <span class="information">
                {{ '* mandatory fields'|trans }}
            </span>       
        </div>
    </form>
{% endblock %}
