{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-online.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import 'DPCoreBundle:Dashboard:Widget.html.twig' as dedipanel_widget %}

{% block title %}
    {{ dedipanel_buttons.back(path('_welcome'), 'dedipanel.core.dashboard'|trans) }}
{% endblock %}

{% block bundleStylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/dpcore/css/dashboard.css') }}" />
{% endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="col-xs-6">
            <div class="row-fluid">
                {% if is_granted('ROLE_DP_GAME_STEAM_ADMIN') or is_granted('ROLE_DP_GAME_MINECRAFT_ADMIN') %}
                    <div class="widget-container">
                        <div class="widget-heading">
                            <span class="icon-steam icon"></span>
                            <a href="{{ path('dedipanel_steam_index') }}">{{ 'menu.steam'|trans }}</a> /
                            <span class="icon-minecraft icon"></span>
                            <a href="{{ path('dedipanel_minecraft_index') }}">{{ 'menu.minecraft'|trans }}</a>
                        </div>
                        <div class="widget-content">

                            {% if is_granted('ROLE_DP_GAME_STEAM_ADMIN') %}
                                {{ dedipanel_widget._serverSteam(steamServers) }}
                            {% endif %}

                            {% if is_granted('ROLE_DP_GAME_MINECRAFT_ADMIN') %}
                                {{ dedipanel_widget._serverMinecraft(minecraftServers) }}
                            {% endif %}

                        {{ dedipanel_widget._widgetFoot() }}
                {% endif %}
                
                {% if is_granted('ROLE_DP_VOIP_TEAMSPEAK_ADMIN') %}
                    {{ dedipanel_widget._widgetHeader('teamspeak.title.index', 'icon-headphone', '','dedipanel_teamspeak_index') }}
                    {{ dedipanel_widget._serverTeamspeak(teamspeakServers, 'filters') }}
                    {{ dedipanel_widget._widgetFoot() }}
                {% endif %}               
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row-fluid">
                {% if is_granted('ROLE_DP_ADMIN_MACHINE_ADMIN') %}
                    {{ dedipanel_widget._widgetHeader('machine.title.index', 'icon-uni53', 'paddle', 'dedipanel_machine_index') }}
                    {{ dedipanel_widget._machines(machines, 'condensed') }}
                    {{ dedipanel_widget._widgetFoot() }}
                {% endif %}
                
                {% if is_granted('ROLE_DP_ADMIN_USER_ADMIN') %}
                    {{ dedipanel_widget._widgetHeader('user.title.index', 'icon-groupe', 'paddle', 'dedipanel_user_index') }}
                    {{ dedipanel_widget._users(users, 'condensed') }}
                    {{ dedipanel_widget._widgetFoot() }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
