{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% macro _widgetHeader(title, icone, paddle, route) %}
    <div class="widget-container">
        <div class="widget-heading">
            <span class="{{ icone }}"></span><a href="{{ path(route) }}">{{ title|trans }}</a>
        </div>
        <div class="widget-content {{ paddle }}">
{% endmacro %}

{% macro _widgetFoot() %}
        </div>
    </div>
{% endmacro %}

{% macro _serverSteam(steamServers) %}
    <table id="steam" class="server-list table table-filters">
        {% for steamServer in steamServers %}
            
            {% set gameImg = steamServer.game.launchName %}
            {% if gameImg == 'Counter-Strike Source' %}{% set gameImg = 'css' %}{% endif %}
            {% if steamServer.query.latency != false %}{% set color, isOnline = 'success', true %}
            {% else %} {% set color, isOnline = 'error', false %}{% endif %}

            <tr class="server-item {{ color }}">
                <td>
                    <div class="arrow-left arrow-{{ color }}"></div>
                    <img src="{{ asset('images/serveur/viewer/' ~ gameImg ~ '.png') }}"" alt="{{ gameImg }}">
                </td>
                <td><a href="{{ path('dedipanel_steam_show', {id: steamServer.id}) }}">{{ steamServer.name }}</a></td>
                <td>
                    {% if isOnline%}{{ steamServer.query.serverInfos['numplayers'] }} /{{ steamServer.query.serverInfos['maxplayers'] }}{% endif %}
                </td>
                <td>{{ steamServer.machine.publicIp }}:{{ steamServer.port }}</td>
            </tr>
        {% endfor %}       
    </table> 
{% endmacro %}

{% macro _serverMinecraft(minecraftServers) %}
    <table id="minecraft" class="server-list table table-filters">
        {% for minecraftServer in minecraftServers %}
            
            {% set gameImg = minecraftServer.game.launchName %}
            {% if minecraftServer.query.online != false %}{% set color, isOnline = 'success', true %}
            {% else %} {% set color, isOnline = 'error', false %}{% endif %}

            <tr class="server-item  {{ color }}">
                <td>
                    <div class="arrow-left arrow-{{ color }}"></div>
                    <img src="{{ asset('images/serveur/viewer/' ~ gameImg ~ '.png') }}"" alt="{{ gameImg }}">
                </td>
                <td><a href="{{ path('dedipanel_minecraft_show', {id: minecraftServer.id}) }}">{{ minecraftServer.name }}</a></td>
                <td>
                    {% if isOnline%}{{ minecraftServer.query.serverInfos['numplayers'] }} /{{ minecraftServer.query.serverInfos['maxplayers'] }}{% endif %}
                </td>
                <td>{{ minecraftServer.machine.publicIp }}:{{ minecraftServer.port }}</td>
            </tr>
        {% endfor %}        
    </table>
{% endmacro %}

{% macro _serverTeamspeak(teamspeakServers, sort) %}
    <table id="teamspeak" class="server-list table table-{{ sort }}">
            {% for teamspeakServer in teamspeakServers %}
                {% if teamspeakServer.query.isOnline %}{% set color = 'green' %}
                {% else %}{% set color = 'red' %}{% endif %}

                <tr class="server-item">
                    <td class="{{ color }}"><span class="icon-uni47"></span></td>
                    <td><a class="padding-left" href="{{ path('dedipanel_teamspeak_instance_index', {serverId: teamspeakServer.id}) }}">{{ teamspeakServer.name }}</a></td>
                    <td>{{ teamspeakServer.machine.publicIp }}:{{ teamspeakServer.queryPort }}</td>
                </tr>
            {% endfor %}
    </table>  
{% endmacro %}

{% macro _users(users, sort) %}
    
    {% import '::buttons.html.twig' as dedipanel_buttons %}
    <table id="users" class="table table-{{ sort }}">
        {% if users %}
            <thead>
                <tr>
                    <th>{{ 'user.fields.username'|trans }}</th>
                    <th>{{ 'user.fields.email'|trans }}</th>
                    <th>{{ 'user.fields.enabled'|trans }}</th>
                    <th>{{ 'user.fields.lastLogin'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('dedipanel_user_show', {id: user.id}) }}">{{ user.username }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ dedipanel_buttons.yes_no(user.enabled) }}</td>
                    <td>{{ user.lastlogin|date('h:m d/m/Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
    </table>
{% endmacro %}

{% macro _machines(machines, sort) %}
    <table id="machines" class="table table-{{ sort }}">
        {% if machines %}
            <thead>
                <tr>
                    <th>{{ 'machine.fields.id'|trans }}</th>
                    <th>{{ 'machine.fields.username'|trans }}</th>
                    <th>{{ 'machine.fields.ip'|trans }}</th>
                    <th>{{ 'machine.fields.public_ip'|trans }}</th>
                    <th>{{ 'machine.fields.port'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for machine in machines %}
                <tr>
                    <td>{{ machine.id }}</td>
                    <td><a href="{{ path('dedipanel_machine_show', {id: machine.id}) }}">{{ machine.username }}</a></td>
                    <td>{{ machine.ip }}</td>
                    <td>{{ machine.publicIp }}</td>
                    <td>{{ machine.port }}</td>

                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
    </table>
{% endmacro %}