{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />

        <title>DediPanel</title>
        <link rel="shortcut icon" href="{{ asset('images/footer/logo-min.png') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="logo">
                 <img src="{{ asset('images/header/logo.png') }}"/>
            </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}         
            <div class="profilNav">
                <ul>
                    <li>
                        <a href="{{ path('sonata_user_profile_show') }}" title="">
                              <div class="fsProfil" aria-hidden="true" data-icon="&#x2a;"></div>
                            <span>Profil</span></a>
                    </li>
                    <li>
                        <a href="#">
                              <div class="fsProfil" aria-hidden="true" data-icon="&#x47;"></div>
                            <span>Messages</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('sonata_user_profile_edit_authentication') }}">
                              <div class="fsProfil" aria-hidden="true" data-icon="&#x33;"></div>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="login.html" title="">
                              <div class="fsProfil" aria-hidden="true" data-icon="&#x48;"></div>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
                </div>
                <div class="footerNav"></div>
            {% endif %}
        </header>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}   
        <nav>
            <div class="menuNav">
            <ul>
                <li>
                    <a href="/">
                        <div class="fsMenu" aria-hidden="true" data-icon="&#x21;"></div>
                        <span>Home</span></a>
                    </li>
                <li><a href="{{ path('steam') }}">
                        <div class="fsMenu" aria-hidden="true" data-icon="&#x25;"></div>
                        <span>Games</span></a>
                    </li>
                <li>
                    <a href="/vocal">
                        <div class="fsMenu" aria-hidden="true" data-icon="&#x23;"></div>
                        <span>Speak</span></a>
                    </li>
                <li><a href="{{ path('sonata_admin_dashboard') }}">
                        <div class="fsMenu" aria-hidden="true" data-icon="&#x2a;"></div>
                        <span>User</span></a>
                    </li>
                <li><a href="{{ path('machine') }}">
                        <div class="fsMenu" aria-hidden="true" data-icon="&#x2c;"></div>
                        <span>Machine</span></a>
                    </li>
            </ul>
            </div>
        </nav>
        {% endif %}       
        <section>
            {% block body %}{% endblock %}
                        
            <div id="footer"><p>
                Dedicated panel - Code & Design par Von et NiR | 
                <a href="http://www.dedicated-panel.net">www.dedicated-panel.net</a>.
            </p></div>
        </section>
        
        
        <script type="text/javascript" src="{{ asset('bundles/sonatajquery/jquery-1.7.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.17.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
    <footer>
        </footer>
</html>
