{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />

        <title>DediPanel</title>
        <link rel="shortcut icon" href="{{ asset('images/footer/logo-min.png') }}" />
        {% block stylesheets %}{% endblock %}
	</head>
    
    <body>
        <header>
            <div id="logo">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<a href="{{ path('_welcome') }}">&nbsp;</a>{% endif %}
            </div>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<div id="profil">
				<ul id="mprofil">
					<li><span class="iprofil">X</span>
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'menu.logout'|trans }}
                        </a>
                    </li>		
					<li><span class="iprofil">U</span><a href="#">Profil</a>
						<ul>
							{# <li>
								<span class="ismprofil">K</span>
								<a href="{{ path('sonata_user_profile_show') }}" id="profil-detail">Info Compte</a>
							</li> #}
							<li class="sousmenu">
								<span class="ismprofil">S</span>
								<a href="{{ path('sonata_user_profile_edit_authentication') }}" id="profil-option">Options</a>
							</li>
							{# <li>
								<span class="ismprofil">@</span>
								<a href="" id="profil-note">Notifications</a>
							</li>
							<li>
								<span class="ismprofil">u</span>
								<a href="" id="profil-stat">Statistiques</a> 
							</li> #}
						</ul>
					</li>
				</ul>
            </div>		
            <div class="clear"></div>

            <ul class="menu">
                <li><a href="{{ path('user_menu') }}">
                        <span class="icone">¹</span>
                        <div class="content"><h2 class="main">Acceuil</h2><h3 class="sub">Acceuil</h3></div>
                    </a> </li>
                <li><a href="{{ path('game_menu') }}">
                        <span class="icone">_</span>
                        <div class="content"><h2 class="main">Jeux</h2><h3 class="sub">Serveurs de jeux</h3></div>
                    </a> </li>
               {# <li><a href="{{ path('user_menu') }}">
                        <span class="icone">d</span>
                        <div class="content"><h2 class="main">VoIp</h2><h3 class="sub">Serveur vocaux</h3></div>
                    </a> </li>
                <li><a href="{{ path('user_menu') }}">
                        <span class="icone">U</span>
                        <div class="content"><h2 class="main">Utilisateurs</h2><h3 class="sub">Gérer les utilisateurs</h3></div>
                    </a> </li> #}
                <li><a href="{{ path('config_menu') }}">
                        <span class="icone">S</span>
                        <div class="content"><h2 class="main">Configuration</h2><h3 class="sub">Options du panel</h3></div>
                    </a> </li>
            </ul>
            {% endif %}
        </header>

        <div id="page">{% block body %}{% endblock %}</div>

        <footer><p>
            <img src="{{ asset('images/footer/logo-min.png') }}"/> 
            Dedicated panel - Code & Design par Von et NiR | 
            <a href="http://www.dedicated-panel.net">www.dedicated-panel.net</a>.
        </p></footer>
        
        <script type="text/javascript" src="{{ asset('bundles/sonatajquery/jquery-1.8.0.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.23.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
