<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		
		<title>DediPanel</title>
        {% block stylesheets %}{% endblock %}
        
		<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="../js/jquery-ui-1.8.17.custom.min.js"></script>
	</head>
    
    <body>
		<header>
            <div id="logo"></div>
			
			<div id="profil">
				<ul>
					<li id="logout">
						<a href="#" >Déconnexion</a>

					</li>
					<li>
						<a href="#"> Profil</a>
					</li>
				</ul>

                <!-- 
				<div class="profil-menu">
                    <div class="profil-menu-deroulant">
                        <a href="" id="profil-option">Options</a>
                        <div class="profil-ligne"></div>
                        <a href="" id="profil-detail">Info Compte</a>
                        <div class="profil-ligne"></div>
                        <a href="" id="profil-note">Notifications</a>
                        <div class="profil-ligne"></div>
                        <a href="" id="profil-stat">Statistiques</a> 
                    </div>
                </div> -->
            </div>			
			<div class="clear"></div>
			
			<ul class="menu">
				<li><a href="#">
                    <span class="icon"><img src="{{ asset('images/menu/acceuil-h.png') }}" /></span>
                    <div class="content"><h2 class="main">Acceuil</h2><h3 class="sub">Acceuil</h3></div>
				</a> </li>
				<li><a href="#">
                    <span class="icon"><img src="{{ asset('images/menu/jeux-h.png') }}" /></span>
                    <div class="content"><h2 class="main">Jeux</h2><h3 class="sub">Serveurs de jeux</h3></div>
				</a> </li>
				<li><a href="#">
                    <span class="icon"><img src="{{ asset('images/menu/mumble-h.png') }}" /></span>
                    <div class="content"><h2 class="main">VoIp</h2><h3 class="sub">Serveur vocaux</h3></div>
				</a> </li>
				<li><a href="#">
                    <span class="icon"><img src="{{ asset('images/menu/user-h.png') }}" /></span>
                    <div class="content"><h2 class="main">Utilisateurs</h2><h3 class="sub">Gérer les utilisateurs</h3></div>
				</a> </li>
				<li><a href="#">
                    <span class="icon"><img src="{{ asset('images/menu/config-h.png') }}" /></span>
                    <div class="content"><h2 class="main">Configuration</h2><h3 class="sub">Options du panel</h3></div>
				</a> </li>
			</ul>
		</header>
		
        <div id="page">{% block body %}{% endblock %}</div>
        
        <footer><p>
            <img src="{{ asset('images/footer/logo-min.png') }}"/> 
            Dedicated panel - Code & Design par Von et NiR | 
            <a href="http://www.dedicated-panel.net">www.dedicated-panel.net</a>.
        </p></footer>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
