{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />

        <title>DediPanel</title>
        <link rel="shortcut icon" href="{{ asset('images/footer/logo-min.png') }}" />
        
        {% block stylesheets %}{% endblock %}
        
        <script src="{{ asset('bundles/sonatajquery/jquery-1.8.3.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.23.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}" type="text/javascript"></script>
        {% block topJavascripts %}{% endblock %}
    </head>
    
    <body>
        <div id="outer">{% block baseBody %}{% endblock %}</div>
        
        <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
