{% macro show(url, message, role, object) %}
    {% from '::dedipanel_buttons.html.twig' import show %}
    {% if (role is not empty and is_granted(role, object)) or role is empty %}
        {{ show(url, message) }}
    {% endif %}
{% endmacro %}

{% macro generic(url, message, icon, role, object) %}
    {% from '::dedipanel_buttons.html.twig' import generic %}
    {% if (role is not empty and is_granted(role, object)) or role is empty %}
        {{ generic(url, message, icon) }}
    {% endif %}
{% endmacro %}

{% macro create(url, message, role, object) %}
    {% from '::dedipanel_buttons.html.twig' import create %}
    {% if (role is not empty and is_granted(role, object)) or role is empty %}
        {{ create(url, message) }}
    {% endif %}
{% endmacro %}

{% macro edit(url, message, role, object) %}
    {% from '::dedipanel_buttons.html.twig' import edit %}
    {% if (role is not empty and is_granted(role, object)) or role is empty %}
        {{ edit(url, message) }}
    {% endif %}
{% endmacro %}

{% macro delete(url, message, disabled=false, modal=true, role, object) %}
    {% from '::dedipanel_buttons.html.twig' import delete %}
    {% if (role is not empty and is_granted(role, object)) or role is empty %}
        {{ delete(url, message, disabled, modal) }}
    {% endif %}
{% endmacro %}

{% macro back(url, message) %}
    <a href="{{ url }}">
        <span class="icon-arrow-circle-left" title="{{ 'sylius.back'|trans }}"></span>
    </a>
    
    {{ message }}
{% endmacro %}

{% macro manage(url, message) %}
<a href="{{ url }}" class="btn btn-labeled btn-success pull-left margin-left">
    <span class="btn-label"><span class="icon-arrow-left"></span></span>{{ message is empty ? 'sylius.manage'|trans : message }}
</a>
{% endmacro %}

{% macro yes_no(cond) %}
    {% if cond == true %}
        <i class="icon-ok-circle"></i> 
        {{ 'dedipanel.yes'|trans }}
    {% else %}
        <i class="icon-ban-circle"></i>
        {{ 'dedipanel.no'|trans }}
    {% endif %}
{% endmacro %}
