{% macro back(url, message) %}
    <a href="{{ url }}">
        <span class="icon" data-icon="&#x29;" title="{{ 'sylius.back'|trans }}"></span>
    </a>
    
    {{ message }}
{% endmacro %}

{% macro yes_no(cond) %}
    {% if cond == true %}
        <i class="icon-ok-circle"></i> 
        {{ 'dedipanel.yes'|trans }}
    {% else %}
        <i class="icon-ban-circle"></i>
        {{ 'dedipanel.no'|trans }}
    {% endif %}
{% endmacro %}
