{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% macro display_flashes(type, class, escape) %}
    {% if escape is not defined or escape is null %}
        {% set escape = true %}
    {% endif %}

    {% set flashes = app.session.flashbag.get(type) %}
    {% if flashes|length > 0 %}
    <div class="alert alert-block {{ class }}"><ul>
    {% for flash in flashes %}
        <li>
            {% if escape %}
                {{ flash }}
            {% else %}
                {{ flash|raw }}
            {% endif %}
        </li>
    {% endfor %}
    </ul></div>
    {% endif %}
{% endmacro %}

{% macro error(escape) %}
    {{ _self.display_flashes('error', 'alert-error', escape) }}
{% endmacro %}

{% macro warning(escape) %}
    {{ _self.display_flashes('warning', 'alert-warning', escape) }}
{% endmacro %}

{% macro info(escape) %}
    {{ _self.display_flashes('info', 'alert-info', escape) }}
{% endmacro %}

{% macro success(escape) %}
    {{ _self.display_flashes('success', 'alert-success', escape) }}
{% endmacro %}

{% macro all(escape) %}
    {{ _self.success(escape) }}
    {{ _self.error(escape) }}
    {{ _self.warning(escape) }}
    {{ _self.info(escape) }}
{% endmacro %}
