{# 
 Copyright (C) 2010-2013 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{# Custom #}
{% block form_row %}
{% spaceless %}
    <div class="clearfix">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}
        
        {% if required %}
            <span class="symfony-form-required" title="This field is required">*</span>
        {% endif %}
    </label>
{% endspaceless %}
{% endblock form_label %}

{% block button_row %}
{% spaceless %}
    <div class="well form-actions">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock button_row %}

{% block dp_security_roles_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <div class="role" data-children="{{ attribute(role_hierarchy, child.vars.value)|json_encode() }}">
            {{ form_widget(child) }}
            {{ form_label(child) }}
        </div>
    {% endfor %}
    </div>
    
    {% if form|length > 0 %} 
        <div class="dp-security-roles-toggler">
            <input type="checkbox" name="all-roles-toggler" id="all-roles-togler-{{ form.vars.name }}" />
            <label for="all-roles-togler-{{ form.vars.name }}">Tout cocher/décocher</label>
        </div>
    {% endif %}
    
    <script type="text/javascript">
        $(function () {
            $('.dp-security-roles .role input[type=checkbox]').bind('click', function () {
                var el = $(this);
                
                if (this.checked) {
                    if (el.parent().attr('data-children').length > 0) {
                        var children = $.parseJSON(el.parent().attr('data-children'));
                        
                        children.forEach(function (el, id) {
                            $('input[type=checkbox][value=' + el + ']').attr('checked', 'checked');
                        });
                    }
                }
            });
            
            $('.dp-security-roles-toggler input[type=checkbox]').bind('click', function () {
                var checked = this.checked;
                
                $(this).parent().prev('div').find('input[type=checkbox]:not([disabled=disabled])').each(function (id, el) {
                    if (checked) {
                        $(el).attr('checked', checked);
                    }
                    else {
                        $(el).removeAttr('checked');
                    }
                });
            });
        });
    </script>
{% endspaceless %}
{% endblock dp_security_roles_widget %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul>
        {% for error in errors %}
            <li>{{ error.message|trans }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
