{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/icomoon/style.css') }}" />
    
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/main.css') }}" />
    
    {% block bundleStylesheets %}{% endblock %}
{% endblock %}

{% block baseBody %}
    <header>   
        <nav class="clearfix">
            <ul>
                <li>
                    <a href="{{ path('sonata_user_profile_edit_authentication') }}">
                        <span data-icon="&#x58;"></span>
                        {{ 'profil.profil'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('sonata_user_admin_security_logout') }}">
                        <span data-icon="&#x57;"></span>
                        {{ 'profil.logout'|trans }}
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <div id="cols-container">
        <section id="sidebar">
            <div id="logo">
                <a href="{{ path('_welcome') }}">
                    <img src="{{ asset('images/header/logo.png') }}" title="DediPanel" />
                </a>
            </div>

            <nav>
                <ul>
                    <li class="home">
                        <a href="{{ path('_welcome') }}">
                            <span data-icon="&#x50;" class="icon"></span>
                            <span class="menu-label">{{ 'menu.home'|trans }}</span>
                        </a>
                    </li>
                    <li class="steam">
                        <a href="{{ path('steam') }}">
                            <span data-icon="&#x6f;" class="icon"></span>
                            <span class="menu-label">{{ 'menu.steam'|trans }}</span>
                        </a>
                    </li>
                    <li class="minecraft">
                        <a href="{{ path('minecraft') }}">
                            <span data-icon="&#x52;" class="icon"></span>
                            <span class="menu-label">{{ 'menu.minecraft'|trans }}</span>
                        </a>
                    </li>                
                    <li class="machine">
                        <a href="{{ path('machine') }}">
                            <span data-icon="&#x51;" class="icon"></span>
                            <span class="menu-label">{{ 'menu.machine'|trans }}</span>
                        </a>
                    </li>
                    <li class="admin">
                        <a href="{{ path('sonata_admin_dashboard') }}">
                            <span data-icon="&#x25;" class="icon"></span>
                            <span class="menu-label">{{ 'menu.admin'|trans }}</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>

        <section id="inner">
            <h1 id="title" class="clearfix">{% block title %}{% endblock %}</h1>
            
            <div id="page-content" class="clearfix">{% block body %}{% endblock %}</div>

            <footer>
                <p>
                    DediPanel {% spaceless %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            {{ dedipanel.current_version }}
                            
                            {% if dedipanel.update_available %}
                                &nbsp;({{ 'updateAvailable'|trans({'%versionAvailable%': dedipanel.version_available}) }})
                            {% endif %}
                        {% endif %}
                    {% endspaceless %} - Code & Design par Von et NiR<br />
            
		            <a href="http://www.dedicated-panel.net">dedicated-panel.net</a> | 
		            <a href="http://wiki.dedicated-panel.net">wiki</a> | 
		            <a href="http://forum.dedicated-panel.net">forum</a>
                </p>
            </footer>
        </section>
    </div>
{% endblock %}