{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/main.css') }}" />
    {% else %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/connexion.css') }}" />
    {% endif %}

    <!-- jQuery code -->
    <link rel="stylesheet" href="{{ asset('bundles/sonatajquery/themes/redmond/jquery-ui-1.8.20.custom.css') }}" type="text/css" media="all" />

     {# <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/bootstrap.min.css') }}" type="text/css" media="all" >

    <!-- base application asset -->
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/layout.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/colors.css') }}" type="text/css" media="all"> #}
{% endblock %}

{% block javascripts %}
    {# <script src="{{ asset('bundles/sonataadmin/bootstrap/js/bootstrap-tabs.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataadmin/bootstrap/js/bootstrap-alerts.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataadmin/bootstrap/js/bootstrap-modal.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataadmin/bootstrap/js/bootstrap-twipsy.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataadmin/bootstrap/js/bootstrap-popover.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataadmin/bootstrap/js/bootstrap-scrollspy.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataadmin/bootstrap/js/bootstrap-dropdown.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/sonataadmin/qtip/jquery.qtip-1.0.0-rc3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataadmin/jquery/jquery.form.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataadmin/base.js') }}" type="text/javascript"></script> #}
{% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <h1 id="title">{% block title %}{% endblock %}</h1>

        {% block selectVm %}{% endblock %}

        {% set contentId = 'page-content' %}
    {% else %}
        {% set contentId = 'logbox' %}
    {% endif %}
        
    <div id="{{ contentId }}">{% block content %}{% endblock %}</div>
{% endblock %}