{# 
 Copyright (C) 2010-2013 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::base.html.twig" %}

{% block stylesheets %}
        {% stylesheets
        '@DPCoreBundle/Resources/public/css/main.css'
        '@DPCoreBundle/Resources/public/css/icomoon/style.css'
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less' 
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}

    {% block bundleStylesheets %}{% endblock %}
{% endblock %}

{% block baseBody %}

    <div id="cols-container">
        <section id="sidebar">
            <div id="logo">
                <a href="{{ path('_welcome') }}">
                    <img src="{{ asset('images/header/logo.png') }}" title="DediPanel" />
                </a> 
            </div>
            <div class="user-profile">
                    <img alt="{{ app.user.username }}" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR0JIep1h1CxO5fPpAfXymk9WQu52CD4LOhzw_FlYJT9nIz9LXcng">

                        <div class="user-info">
                            {{ app.user.username }}
                            <small>Role ?</small>
                            {#<ul class="user-profile-actions">
                                    <li>
                                        <a href="{{ path('fos_user_profile_show') }}" title="{{ 'profil.profil'|trans }}">
                                            <span class="icon-uni41"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}" title="logout">
                                            <span class="icon-exit"></span>
                                        </a>
                                    </li>
                            </ul>#}
                    </div>
            </div>
            <nav>
                {{ knp_menu_render('main') }}
            </nav>
                
            <footer>
                <p>
                    DediPanel v{{ dedipanel.current_version }} {% spaceless %}
                        {# L'UpdateWatcher n'est chargé que sur l'environnement de prod #}
                        {% if app.environment == 'prod' and is_granted('ROLE_SUPER_ADMIN') %}
                            {% if dedipanel.update_available %}
                                (<a href="http://www.dedicated-panel.net" target="_blank">{{ 'updateAvailable'|trans({'%versionAvailable%': dedipanel.version_available}) }}</a>)
                            {% endif %}
                        {% endif %}
                    {% endspaceless %}
                    <br />Code & Design par Von et NiR<br />

                    <a target="_blank" href="http://www.dedicated-panel.net">dedicated-panel.net</a> | 
                    <a target="_blank" href="http://wiki.dedicated-panel.net">wiki</a> | 
                    <a target="_blank" href="http://forum.dedicated-panel.net">forum</a>
                </p>
            </footer>
        </section>

        <section id="inner">
            <div id="logo-mobile">
                <a href="{{ path('_welcome') }}">
                    <img src="{{ asset('images/header/logo.png') }}" title="DediPanel" />
                </a>
                <button type="button" class="navbar-toggle" id="sidebar-toggle">
                    <span class="icon-uni31"></span>
                </button>
            </div>
            <h1 id="title">{% block title %}{% endblock %}</h1>

            {% block widget %}{% endblock %}

            <div id="page-content" class="clearfix">
                <div class="container-fluid">
                    <div class="inner-body">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>
        
    </div>
{% endblock %}