{# 
 Copyright (C) 2010-2013 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/icomoon/style.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/main.css') }}" />
    
    {% block bundleStylesheets %}{% endblock %}
{% endblock %}

{% block baseBody %}

    <div id="cols-container">
        <section id="sidebar">
            <div id="logo">
                <a href="{{ path('_welcome') }}">
                    <img src="{{ asset('images/header/logo.png') }}" title="DediPanel" />
                </a> 
            </div>
            <div class="user-profile">
                    <img alt="{{ app.user.username }}" src="{{ asset('images/icones/blue-user-icon.png') }}">
                    <div class="user-info">
                            <a href="{{ path('fos_user_profile_edit') }}">{{ app.user.username }}</a>
                            <em>
                            
                            </em>
                            <ul class="user-profile-actions">
                                    <li>
                                        <a href="{{ path('fos_user_profile_edit') }}" title="profile">
                                            <span class="icon-uni41"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}" title="logout">
                                            <span class="icon-exit"></span>
                                        </a>
                                    </li>
                            </ul>
                    </div>
            </div>
            <nav>
                {{ knp_menu_render('main') }}
            </nav>
                
            <footer>
                <p>
                    DediPanel {% spaceless %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            {{ dedipanel.current_version }}

                            {% if dedipanel.update_available %}
                                (<a href="http://www.dedicated-panel.net" target="_blank">{{ 'updateAvailable'|trans({'%versionAvailable%': dedipanel.version_available}) }}</a>)
                            {% endif %}
                        {% endif %}
                    {% endspaceless %}
                    <br />Code & Design par Von et NiR<br />

                    <a target="_blank" href="http://www.dedicated-panel.net">dedicated-panel.net</a> | 
                    <a target="_blank" href="http://wiki.dedicated-panel.net">wiki</a> | 
                    <a target="_blank" href="http://forum.dedicated-panel.net">forum</a>
                </p>
            </footer>
        </section>

        <section id="inner">
            <h1 id="title" class="clearfix">{% block title %}{% endblock %}</h1>
            {% block widget %}{% endblock %}
            <div id="page-content" class="clearfix">
                <div class="container-fluid">
                    <div class="inner-body">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
