{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% if invalid_username is defined %}
    <div class="alert alert-danger">
        {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
    </div>
{% endif %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

    <div class="form-group">
        <input type="text" class="form-control" id="username" name="username" placeholder="{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}" required="required" />
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
    <br />
    <a href="{{ path("fos_user_security_login") }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
</form>
