{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::layout.html.twig" %}

{% block bundleStylesheets %}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/dpgameserver/css/game.css') }}" />
{% endblock %}

{% block title %}
    <a href="{{ path(baseRoute ~ '_ftp_show', {id: sid, path: path}) }}"> 
        <span class="icon" data-icon="&#x29;" title="{{ 'game.back'|trans }}"></span>
    </a>
    
    {{ (baseRoute ~ '.title')|trans }}
{% endblock %}

{% block content %}    
    <h2>{{ 'game.ftp.addFile'|trans }}</h2>
    
    <form action="{{ path(baseRoute ~ '_ftp_add', {id: sid, path: path}) }}" method="post" class="form-ftp">
        {{ form_widget(form) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                {{ 'game.ftp.addFile'|trans }}
            </button>
        </div>
    </form>
{% endblock %}