{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::layout.html.twig" %}

{% block title %}
    <a href="{{ path(baseRoute) }}"> 
        <div class="fsBack" aria-hidden="true" data-icon="&#x29;" title="{{ 'game.back'|trans }}"></div>
    </a>
    
    <p>{{ (baseRoute ~ '.title')|trans }}</p>
{% endblock %}

{% block content %}    
    <legend>{{ 'game.ftp.editTitle'|trans }}</legend>
    
    <form action="{{ path(baseRoute ~ '_ftp_edit', {id: sid, path: path}) }}" method="post">	
        <fieldset>
            {{ form_widget(form) }}
            
            <input type="submit" value="{{ 'game.edit'|trans }}" name="submit" class="submit"></fieldset>
        </fieldset>
    </form>
{% endblock %}