{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::layout.html.twig" %}

{% block title %}
    {% if currentPath is not empty %}
        <a href="{{ path(baseRoute ~ '_ftp_show', {id: sid, path: prevDirPath}) }}">
            <span class="icon" data-icon="&#x29;" title="{{ 'game.back'|trans }}"></span>
        </a>
    {% else %}
        <a href="{{ path(baseRoute) }}">
            <span class="icon" data-icon="&#x29;" title="{{ 'game.back'|trans }}"></span>
        </a>
    {% endif %}
    
    {{ (baseRoute ~ '.title')|trans }}
{% endblock %}

{% block content %}
    <h2>{{ 'game.ftp.showTitle'|trans }}</h2>
    
    <ul id="top-nav" class="nav nav-tabs">
        <li>
            <a href="{{ path(baseRoute ~ '_ftp_add', {'id': sid, 'path': currentPath}) }}">
                {{ 'game.ftp.addFile'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path(baseRoute ~ '_ftp_add_dir', {'id': sid, 'path': currentPath}) }}">
                {{ 'game.ftp.addDirectory'|trans }}
            </a>
        </li>
        
        {# On ajoute un lien pour supprimer le dossier courant #}
        {# Si l'utilisateur n'est pas dans le dossier root du serveur #}
        {% if currentPath is not empty %}
            <li>
                <form action="{{ path(baseRoute ~ '_ftp_delete', {id: sid, path: currentPath}) }}" method="post" class="form-ftp">
                    {{ form_widget(del_form) }}
                    
                    <button type="submit">
                        {{ 'game.ftp.deleteDir'|trans }}
                    </button>
                </form>
            </li>
        {% endif %}
    </ul>
    
    {{ currentPath }}
    
    <ul>
        {# Affichage d'un lien ".." de retour vers le dossier parent #}
        {% if currentPath is not empty %}
            <li class="dir">
                <a href="{{ path(baseRoute ~ '_ftp_show', {'id': sid, 'path': prevDirPath}) }}">..</a>
            </li>
        {% endif %}
        
        {# Affichage de la liste des dossiers #}
        {% for dir in dirContent['dirs'] %}
            {% set path = currentPath ~ dir['name'] %}
            <li class="dir">
                <a href="{{ path(baseRoute ~ '_ftp_show', {'id': sid, 'path': path }) }}">
                    {{ dir['name'] }}
                </a>
            </li>
        {% endfor %}
        {# Affichage de la liste des fichiers #}
        {% for file in dirContent['files'] %}
            {% set path = currentPath ~ file['name'] %}
            <li class="file">
                <a href="{{ path(baseRoute ~ '_ftp_edit', {id: sid, path: path}) }}">
                    {{ file['name'] }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}