{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_minecraft_ftp_show', {'id': server.id, 'path': resource.relativePath}), 'minecraft.ftp.title'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'dedipanel.title.confirm_delete'|trans }}</h2>

    <form action="{{ app.request.requestUri }}" method="post" class="delete-action-form" novalidate>
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="confirmed" value="1">
        
        <div class="form-group clearfix">
            {{ dedipanel_buttons.delete(app.request.headers.get('referer')) }}
            {{ dedipanel_buttons.generic(path('dedipanel_minecraft_ftp_show', {'id': server.id }), 'sylius.back'|trans, 'icon-cross')}}
        </div>
    </form>
{% endblock %}