{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as sylius_buttons %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_minecraft_ftp_show', {'id': server.id, 'path': resource.path}), 'minecraft.title.minecraft'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'game.ftp.title.show'|trans }}</h2>
    
    <ul id="top-nav" class="nav nav-tabs">
        <li>
            <a href="{{ path('dedipanel_minecraft_ftp_create', {'id': server.id, 'type': 'file', 'path': resource.relativePath}) }}">
                {{ 'game.ftp.create_file'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('dedipanel_minecraft_ftp_create', {'id': server.id, 'type': 'directory', 'path': resource.relativePath}) }}">
                {{ 'game.ftp.create_directory'|trans }}
            </a>
        </li>

        {# On ajoute un lien pour supprimer le dossier courant #}
        {# Si l'utilisateur n'est pas dans le dossier root du serveur #}
        {% if resource.relativePath != '' %}
            <li>
                <a href="{{ path('dedipanel_minecraft_ftp_update', {'id': server.id, 'path': resource.relativePath}) }}">
                    {{ 'game.ftp.update_directory'|trans }}
                </a>
            </li>
            <li>
                {{ sylius_buttons.delete(path('dedipanel_minecraft_ftp_delete', {'id': server.id, path: resource.relativePath})) }}
            </li>
        {% endif %}
    </ul>
    
    <p>{{ 'game.ftp.path'|trans({'%path%': '~/' ~ resource.relativePath}) }}</p>

    <table>
        <thead>
        <tr>
            <th>{{ 'game.ftp.name'|trans }}</th>
            <th>{{ 'game.ftp.size'|trans }}</th>
            <th>{{ 'game.ftp.mtime'|trans }}</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for item in resource.content %}
            <tr>
                <td>
                    {% if item is file %}
                        <a href="{{  path('dedipanel_minecraft_ftp_update', {id: server.id, path: item.relativePath }) }}">
                            {{ item.name }}
                        </a>
                    {% else %}
                        <a href="{{  path('dedipanel_minecraft_ftp_show', {id: server.id, path: item.relativePath }) }}">
                            {{ item.name }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if item is file %}
                        {{ item.size|human_readable }}
                    {% endif %}
                </td>
                <td>
                    {% if item is file %}
                        {{ item.mtime|date('d/m/y H:i:s') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}