{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block bundleStylesheets %}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/dpgameserver/css/game.css') }}" />
{% endblock %}

{% block title %}
    {% set path = resource.relativePath %}

    {% if resource is file %}
        {% set path = resource.path %}
    {% endif %}

    {{ dedipanel_buttons.back(path('dedipanel_minecraft_ftp_show', {'id': server.id, 'path': path}), 'minecraft.title.minecraft'|trans) }}
{% endblock %}

{% block widget %}
    <ul class="widget-header">
        <li>
            <a href="#" class="filter active"> 
                <p>{{ 'game.ftp.path'|trans({'%path%': '~/' ~ resource.relativePath}) }}</p>
            </a>
        </li>
        <li>
            <a href="{{ path('dedipanel_minecraft_ftp_create', {'id': server.id, 'type': 'file', 'path': resource.relativePath}) }}"  class="filter">
                <img src="{{ asset('images/ftp/file.ico') }}" class="icone-ftp"/>{{ 'game.ftp.create_file'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('dedipanel_minecraft_ftp_create', {'id': server.id, 'type': 'directory', 'path': resource.relativePath}) }}"  class="filter">
                <img src="{{ asset('images/ftp/folder.ico') }}" class="icone-ftp"/>{{ 'game.ftp.create_directory'|trans }}
            </a>
        </li>
        
        
        {# On ajoute un lien pour supprimer le dossier courant #}
        {# Si l'utilisateur n'est pas dans le dossier root du serveur #}
        {% if resource.path is not empty %}
            <li class="pull-right">
                {{ dedipanel_buttons.widget(path('dedipanel_minecraft_ftp_delete', {'id': server.id, path: resource.relativePath})) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}    
    <h2>{{ 'game.ftp.title.edit'|trans }}</h2>
    
    <form id="form-update" action="{{ path('dedipanel_minecraft_ftp_update', {id: server.id, path: resource.relativePath}) }}" method="post" class="form-ftp">
        {{ form_widget(form) }}
        
        <div class="form-actions">
            {{ dedipanel_actions.update(path('dedipanel_minecraft_ftp_show', {'id': server.id, 'path': resource.path})) }}
        </div>
    </form>
    
{% endblock %}