{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:actions.html.twig' as sylius_actions %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as sylius_buttons %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block bundleStylesheets %}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/dpgameserver/css/game.css') }}" />
{% endblock %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_minecraft_ftp_show', {'id': server.id, 'path': previous_path}), 'minecraft.title.minecraft'|trans) }}
{% endblock %}

{% block content %}    
    <h2>{{ 'game.ftp.title.edit'|trans }}</h2>
    
    <ul id="top-nav" class="nav nav-tabs">
        <li>
            <a href="{{ path('dedipanel_minecraft_ftp_create', {'id': server.id, 'type': 'file', 'path': previous_path}) }}">
                {{ 'game.ftp.create_file'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('dedipanel_minecraft_ftp_create', {'id': server.id, 'type': 'directory', 'path': previous_path}) }}">
                {{ 'game.ftp.create_directory'|trans }}
            </a>
        </li>
        
        {# On ajoute un lien pour supprimer le dossier courant #}
        {# Si l'utilisateur n'est pas dans le dossier root du serveur #}
        {% if path is not empty and invalid == false %}
            <li>
                {{ sylius_buttons.delete(path('dedipanel_minecraft_ftp_delete', {'id': server.id, path: path})) }}
            </li>
        {% endif %}
    </ul>
    
    <form action="{{ path('dedipanel_minecraft_ftp_update', {id: server.id, path: path}) }}" method="post" class="form-ftp">
        {{ form_widget(form) }}
        {{ sylius_actions.update(path('dedipanel_minecraft_ftp_show', {'id': server.id, 'path': previous_path})) }}
    </form>
{% endblock %}