{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends '::layout-online.html.twig' %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_plugin_index'), 'plugin.title.plugin'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'plugin.title.add'|trans }}</h2>

    <form action="{{ path('dedipanel_plugin_create') }}" method="post" id="form-create">
        {{ form_widget(form) }}
        {{ dedipanel_actions.create() }}
    </form>
{% endblock %}
