{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends '::layout-online.html.twig' %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block title %}
    {{ dedipanel_buttons.back(path('_welcome'), 'plugin.title.plugin'|trans) }}
{% endblock %}

{% block body -%}
    <h2>{{ 'plugin.title.index'|trans }}</h2>

    <ul id="top-nav" class="nav nav-tabs">
        {{ dedipanel_buttons.create(path('dedipanel_plugin_create'), 'plugin.actions.add'|trans, 'ROLE_DP_ADMIN_PLUGIN_CREATE', null, true) }}
    </ul>

    {{ dedipanel_flashes.all() }}

    <table class="table table-striped plugin-list">
        <thead>
            <tr>
                <th>{{ 'plugin.fields.name'|trans }}</th>
                <th>{{ 'plugin.fields.version'|trans }}</th>
                <th>{{ 'dedipanel.fields.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for plugin in plugins %}
                <tr>
                    <td>{{ plugin.name }}</td>
                    <td>{{ plugin.version }}</td>
                    <td> 
                        <div class="btn-group">
                            {{ dedipanel_buttons.show(path('dedipanel_plugin_show', {'id': plugin.id}), null, 'ROLE_DP_ADMIN_PLUGIN_SHOW', plugin) }}
                            {{ dedipanel_buttons.edit(path('dedipanel_plugin_update', {'id': plugin.id}), null, 'ROLE_DP_ADMIN_PLUGIN_UPDATE', plugin) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
