{% extends "::layout.html.twig" %}
{% block content %}
    <h1>{{ 'plugin.add'|trans }}</h1>

    <ul class="record_actions">
        <li>
            <a href="{{ path('game') }}">
                {{ 'plugin.back'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('plugin') }}">
                {{ 'game.back'|trans }}
            </a>
        </li>
    </ul>

    <form action="{{ path('plugin_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">{{ 'game.addButton'|trans }}</button>
        </p>
    </form>
{% endblock %}