{% extends "::layout.html.twig" %}

{% block content %}        
        <legend>
            <div id="content-titre">
                <span class="icone">w</span><p id="titre">{{ "title_user_account" | trans({}, 'SonataUserBundle')) }}</p>
            </div>
        </legend>

    <div class="sonata-user-edit-authentication">

        <h2>{{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_authentication" | trans({}, 'SonataUserBundle')}}</h2>

        <form id="connexion" action="{{ path('sonata_user_profile_edit_authentication') }}" method="POST">
            {{ form_rest(form) }}

                <input type="submit" name="submit" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}" />
        </form>
    </div>
{% endblock %}