{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block title %}
    <a href="{{ path('_welcome') }}"> 
        <span class="icon" data-icon="&#x29;" title="{{ 'sonata.user.back'|trans }}"></span>
    </a>
    
    {{ 'title_user_account' | trans }}
{% endblock %}

{% block content %}
    <div class="sonata-user-edit-authentication">
        <h2>{{ 'title_user_account' | trans }} - {{ 'title_user_edit_authentication' | trans }}</h2>
        
        <form id="connexion" action="{{ path('sonata_user_profile_edit_authentication') }}" method="POST">
            {{ form_rest(form) }}

            <input type="submit" name="submit" value="{{ 'sonata.user.edit'|trans }}" class="btn btn-primary" />
        </form>
    </div>
{% endblock %}