{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block bundleStylesheets %}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/dpgameserver/css/game.css') }}" />
{% endblock %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_steam_ftp_show', {'id': server.id, 'path': resource.path}), 'steam.title.steam'|trans) }}
{% endblock %}

{% block content %}
    {% set type = resource is file ? 'file' : 'directory' %}

    <h2>{{ ('game.ftp.title.create_' ~ type)|trans }}</h2>

    <form action="{{ path('dedipanel_steam_ftp_create', {id: server.id, path: resource.path, type: type}) }}" method="post" class="form-ftp" id="form-create">
        {{ form_widget(form) }}
        {{ dedipanel_actions.create() }}
    </form>
{% endblock %}