{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_steam_ftp_show', {'id': server.id, 'path': resource.path}), 'steam.title.steam'|trans) }}
{% endblock %}
    
{% block widget %}
    <ul class="widget-header">
        <li>
            <a href="#" class="filter active"> 
                <p>{{ 'game.ftp.path'|trans({'%path%': '~/' ~ resource.relativePath}) }}</p>
            </a>
        </li>
        <li>
            <a href="{{ path('dedipanel_steam_ftp_create', {'id': server.id, 'type': 'file', 'path': resource.relativePath}) }}"  class="filter">
                <img src="{{ asset('images/ftp/file.ico') }}" class="icone-ftp"/>{{ 'game.ftp.addFile'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('dedipanel_steam_ftp_create', {'id': server.id, 'type': 'directory', 'path': resource.relativePath}) }}"  class="filter">
                <img src="{{ asset('images/ftp/folder.ico') }}" class="icone-ftp"/>{{ 'game.ftp.addDirectory'|trans }}
            </a>
        </li>
        
        {# On ajoute un lien pour supprimer le dossier courant #}
        {# Si l'utilisateur n'est pas dans le dossier root du serveur #}
        {% if resource.relativePath != '' %}
            <li>
                <a href="{{ path('dedipanel_steam_ftp_update', {'id': server.id, 'path': resource.relativePath}) }}"  class="filter">
                     <img src="{{ asset('images/ftp/edit.ico') }}" class="icone-ftp"/>{{ 'game.ftp.editDirectory'|trans }}
                </a>
            </li>
            <li class="pull-right">
                {{ dedipanel_buttons.widget(path('dedipanel_steam_ftp_delete', {'id': server.id, path: resource.relativePath})) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <h2>{{ 'game.ftp.showTitle'|trans }}</h2>

    <table>
        <thead>
            <tr>
                <th>{{ 'game.ftp.name'|trans }}</th>
                <th>{{ 'game.ftp.size'|trans }}</th>
                <th>{{ 'game.ftp.mtime'|trans }}</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for item in resource.content %}
                <tr>
                    <td>
                        {% if item is file %}
                           <a href="{{  path('dedipanel_steam_ftp_update', {id: server.id, path: item.relativePath }) }}">
                                <img src="{{ asset('images/ftp/file.ico') }}" class="icone-ftp"/>{{ item.name }}
                            </a>
                        {% else %}
                            <a href="{{  path('dedipanel_steam_ftp_show', {id: server.id, path: item.relativePath }) }}">
                                <img src="{{ asset('images/ftp/folder.ico') }}" class="icone-ftp"/>{{ item.name }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if item is file %}
                            {{ item.size|human_readable }}
                        {% endif %}
                    </td>
                    <td>
                        {% if item is file %}
                            {{ item.mtime|date('d/m/y H:i:s') }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}