{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block title %}
    {{ dedipanel_buttons.back(path('_welcome'), 'dedipanel.core.config'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'dedipanel.core.config.title'|trans }}</h2>

    {{ dedipanel_flashes.all(false) }}

    <form id="form-update" action="{{ path('dedipanel_core_config') }}" method="post">
        {{ form_widget(form) }}
        
        <div class="form-actions">
            {{ dedipanel_actions.update() }}
        </div>
    </form>
{% endblock %}
