{% extends "::layout.html.twig" %}
{% block content %}
    <h1>Machine list</h1>

    <ul>
        <li>
            <a href="{{ path('machine_new') }}">
                    {{ 'machine.new'|trans }}
            </a>
        </li>
    </ul>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'machine.id'|trans }}</th>
                <th>{{ 'machine.privateIp'|trans }}</th>
                <th>{{ 'machine.publicIp'|trans }}</th>
                <th>{{ 'machine.port'|trans }}</th>
                <th>{{ 'machine.user'|trans }}</th>
                <th>{{ 'machine.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('machine_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.privateIp }}</td>
                <td>{{ entity.publicIp }}</td>
                <td>{{ entity.port }}</td>
                <td>{{ entity.user }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('machine_show', { 'id': entity.id }) }}">{{ 'machine.show'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('machine_edit', { 'id': entity.id }) }}">{{ 'machine.edit'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}