{% extends "::layout.html.twig" %}

{% form_theme form "::form.html.twig" %}

{% block content %}
    <h1>Machine creation</h1>

    <ul class="record_actions">
        <li>
            <a href="{{ path('machine') }}">
                Back to the list
            </a>
        </li>
    </ul>

    <form action="{{ path('machine_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">{{ 'machine.add'|trans }}</button>
        </p>
    </form>
{% endblock %}