{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::layout.html.twig" %}

{% block title %}
    <a href="{{ path(baseRoute) }}"> 
        <div class="fsBack" aria-hidden="true" data-icon="&#x29;" title="{{ 'game.back'|trans }}"></div>
    </a>
    
    <p>{{ (baseRoute ~ '.title')|trans }}</p>
{% endblock %}

{% block content %}
    <legend>{{ 'game.plugin.title'|trans }}</legend>
    
    <table>
        <tr>
            <th>{{ 'game.plugin.name'|trans }}</th>
            <th>{{ 'game.plugin.status'|trans }}</th>
        </tr>
        
        {% for plugin in server.installedPlugins %}
            <tr>
                <th>{{ plugin.name }}</th>
                <td><a href="{{ path(baseRoute ~ '_plugin_uninstall', {'id': server.id, 'plugin': plugin.id}) }}">
                    {{ 'game.plugin.installed'|trans }}
                </a></td>
            </tr>
        {% endfor %}
            
        {% for plugin in server.notInstalledPlugins %}
            <tr>
                <th>{{ plugin.name }}</th>
                <td><a href="{{ path(baseRoute ~ '_plugin_install', {'id': server.id, 'plugin': plugin.id}) }}">
                    {{ 'game.plugin.notInstalled'|trans }}
                </a></td>
            </tr>
        {% endfor %}
            
        {% if server.installedPlugins is empty and server.notInstalledPlugins is empty %}
            <tr><th colspan="2">{{ 'game.plugin.noPluginForThatGame'|trans }}</th></tr>
        {% endif %}
    </table>
{% endblock %}