{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{# On surcharge la vue utilisé par FOSUserBundle #}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<form id="connexion" action="{{ path("fos_user_security_check") }}" method="post">
        {% if error %}
            <div class="alert alert-error">{{ error }}</div>
        {% endif %}

    <legend>
        <div id="content-titre">
            <p id="titre">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</p>
        </div>
    </legend>
    <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        <input class="span3" type="text" name="_username" id="_username" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}">
    </div>
    <div class="input-prepend">
        <span class="add-on"><i class="icon-lock"></i></span>
        <input type="password" name="_password" id="_password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}">
    </div>

    <div class="actions">  
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label><br />
        <input type="submit" id="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"  class="btn btn-medium btn-primary" type="button">
        <br /><br />

        <a href="{{ path('fos_user_resetting_request') }}">
            {{ 'security.login.titre'|trans({}, 'FOSUserBundle') }}
            </a>
        </div>
</form>
{% endblock fos_user_content %}