{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::layout.html.twig" %}

{% block content %}
    <h1>{{ 'game.list'|trans }}</h1>

    <ul>
        <li>
            <a href="{{ path('plugin') }}">
                {{ 'game.pluginManagement'|trans }}
            </a>
        </li>
        
        <li>
            <a href="{{ path('game_new') }}">
                {{ 'game.add'|trans }}
            </a>
        </li>
    </ul>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'game.id'|trans }}</th>
                <th>{{ 'game.name'|trans }}</th>
                {# <th>{{ 'game.installName'|trans }}</th>
                <th>{{ 'game.launchName'|trans }}</th>
                #} <th>{{ 'game.bin'|trans }}</th> {#
                <th>{{ 'game.orangebox'|trans }}</th> #}
                <th>{{ 'game.map'|trans }}</th>
                <th>{{ 'game.available'|trans }}</th>
                <th>{{ 'game.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('game_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                {# <td>{{ entity.installName }}</td>
                <td>{{ entity.launchName }}</td>
                #} <td>{{ entity.bin }}</td> {#
                <td>{% if entity.orangebox == 1 %}
                        {{ 'game.yes'|trans }}
                    {% else %}
                        {{ 'game.no'|trans }}
                    {% endif %}
                </td> #}
                <td>{{ entity.map }}</td>
                <td>{% if entity.available == 1 %}
                        {{ 'game.yes'|trans }}
                    {% else %}
                        {{ 'game.no'|trans }}
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('game_show', { 'id': entity.id }) }}">{{ 'game.show'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('game_edit', { 'id': entity.id }) }}">{{ 'game.edit'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}