{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends '::layout-online.html.twig' %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block title %}
    {{ dedipanel_buttons.back(path('_welcome'), 'game.title.game'|trans) }}
{% endblock %}

{% block body -%}
    <h2>{{ 'game.title.index'|trans }}</h2>

    <ul id="top-nav" class="nav nav-tabs">
        {{ dedipanel_buttons.create(path('dedipanel_game_create'), 'game.actions.add'|trans, 'ROLE_DP_ADMIN_GAME_CREATE', null, true) }}
    </ul>

    {{ dedipanel_flashes.all() }}

    <table class="table table-striped game-list">
        <thead>
            <tr>
                <th>{{ 'game.fields.name'|trans }}</th>
                <th>{{ 'game.fields.type'|trans }}</th>
                <th>{{ 'game.fields.bin'|trans }}</th>
                <th>{{ 'game.fields.map'|trans }}</th>
                <th>{{ 'game.fields.available'|trans }}</th>
                <th>{{ 'dedipanel.fields.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td>{{ game.type }}</td>
                    <td>{{ game.bin }}</td>
                    <td>{{ game.map }}</td>
                    <td>
                        {{ dedipanel_buttons.yes_no(game.available) }}
                    </td>
                    <td> 
                        <div class="btn-group">
                            {{ dedipanel_buttons.show(path('dedipanel_game_show', {'id': game.id}), null, 'ROLE_DP_ADMIN_GAME_SHOW', game) }}
                            {{ dedipanel_buttons.edit(path('dedipanel_game_update', {'id': game.id}), null, 'ROLE_DP_ADMIN_GAME_UPDATE', game) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
