{% extends "::layout.html.twig" %}
{% block content %}
    <h1>{{ 'game.game'|trans }}</h1>

    <ul class="record_actions">
        <li>
            <a href="{{ path('game') }}">
                {{ 'game.back'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('game_edit', { 'id': entity.id }) }}">
                {{ 'game.edit'|trans }}
            </a>
        </li>
        <li>
            <form action="{{ path('game_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">{{ 'game.del'|trans }}</button>
            </form>
        </li>
    </ul>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'game.id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'game.name'|trans }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'game.installName'|trans }}</th>
                <td>{{ entity.installName }}</td>
            </tr>
            <tr>
                <th>{{ 'game.launchName'|trans }}</th>
                <td>{{ entity.launchName }}</td>
            </tr>
            <tr>
                <th>{{ 'game.bin'|trans }}</th>
                <td>{{ entity.binDir }}{{ entity.bin }}</td>
            </tr>
            <tr>
                <th>{{ 'game.orangebox'|trans }}</th>
                <td>{% if entity.orangebox == true %}
                        {{ 'game.yes'|trans }}
                    {% else %}
                        {{ 'game.no'|trans }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'game.map'|trans }}</th>
                <td>{{ entity.map }}</td>
            </tr>
            <tr>
                <th>{{ 'game.available'|trans }}</th>
                <td>{% if entity.available == true %}
                        {{ 'game.yes'|trans }}
                    {% else %}
                        {{ 'game.no'|trans }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}