{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-online.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::actions.html.twig' as dedipanel_actions %}
{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_game_show', {'id': game.id}), 'game.title.game'|trans) }}
{% endblock %}

{% block body %}
    <h2>{{ 'game.title.edit'|trans }}</h2>

    <form method="post" action="{{ path('dedipanel_game_update', { 'id': game.id }) }}" id="form-update" class="form-horizontal">    
        {{ form_widget(form) }}
    </form>
        
    <div class="form-actions clearfix">
        {{ dedipanel_actions.update(path('dedipanel_game_show', {'id': game.id})) }}
        {{ dedipanel_buttons.delete(path('dedipanel_game_delete', {'id': game.id}), null, false, true, 'ROLE_DP_ADMIN_GAME_DELETE', game) }}
    </div>
{% endblock %}
