{#
    (c) Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::actions.html.twig' as dedipanel_actions %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_game_show', {'id': game.id}), 'game.title.game'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'game.title.edit'|trans }}</h2>

    <form id="form-update" action="{{ path('dedipanel_game_update', { 'id': game.id }) }}" method="post" class="form-edit">    
        {{ form_widget(form) }}
    </form>
        
    <div class="form-actions">
        {{ dedipanel_actions.update(path('dedipanel_game_show', {'id': game.id})) }}
        {{ dedipanel_buttons.delete(path('dedipanel_game_delete', {'id': game.id}), null, 'ROLE_DP_ADMIN_GAME_DELETE', game) }}
    </div>
{% endblock %}
