{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% set sid = server.id %}

<div class="actions clearfix">
    {% if is_granted('ROLE_DP_VOIP_TEAMSPEAK_STATE', server) %}
        {% if online %}
            <a href="{{ path('dedipanel_teamspeak_change_state', { 'id': sid, 'state': 'stop' }) }}" title="{{ 'game.stop'|trans }}">
                <span class="icon icon-stop"></span>
            </a>
            
            <a href="{{ path('dedipanel_teamspeak_change_state', { 'id': sid, 'state': 'restart' }) }}" title="{{ 'game.restart'|trans }}">
                <span class="icon icon-start"></span>
            </a>
        {% else %}
            <a href="{{ path('dedipanel_teamspeak_change_state', { 'id': sid, 'state': 'start' }) }}" title="{{ 'game.start'|trans }}">
                <span class="icon icon-uni22"></span>
            </a>
        {% endif %}
    {% endif %}

    {% if is_granted('ROLE_DP_VOIP_TEAMSPEAK_UPDATE', server) %}
        <a href="{{ path('dedipanel_teamspeak_update', {id: sid}) }}" title="{{ 'game.edit'|trans }}">
            <span class="icon icon-uni25"></span>
        </a>
    {% endif %}
</div>
