{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-online.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_teamspeak_index'), 'teamspeak.title.teamspeak'|trans) }}
{% endblock %}
        
{% block body %}
    <h2>{{ 'teamspeak.title.add'|trans }}</h2>

    {{ dedipanel_flashes.all() }}

    <form action="{{ path('dedipanel_teamspeak_create') }}" method="post" {{ form_enctype(form) }} id="form-create">
        {{ form_widget(form) }}

        {{ dedipanel_actions.create() }}
    </form>
{% endblock %}
