{% extends "::layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as sylius_buttons %}
{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block title %}
    {{ dedipanel_buttons.back(path('_welcome'), 'teamspeak.title.teamspeak'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'teamspeak.title.index'|trans }}</h2>

    {% if is_granted('ROLE_DP_VOIP_TEAMSPEAK_CREATE') %}
    <ul id="top-nav" class="nav nav-tabs">
        <li>
            {{ sylius_buttons.edit(path('dedipanel_teamspeak_create'), 'teamspeak.actions.add'|trans) }}
        </li>
    </ul>
    {% endif %}

    {{ dedipanel_flashes.all() }}

    {% for entity in teamspeaks %}
        {% set online = entity.query.isOnline %}

        <a href="{{ path('dedipanel_teamspeak_instance_index', {serverId: entity.id}) }}">
            {{ entity.machine }}
        </a> -

        {% if online %}
            Running
        {% else %}
            Stopped
        {% endif %}

        {% if entity.isInstallationEnded %}
            {% include 'DPTeamspeakServerBundle:TeamspeakServer:actionBar.html.twig' with {online: online, server: entity} %}
        {% endif %}
    {% endfor %}
{% endblock %}
