{% extends "::layout.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block title %}
    {{ dedipanel_buttons.back(path('_welcome'), 'teamspeak.title.teamspeak'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'teamspeak.title.index'|trans }}</h2>

    <ul id="top-nav" class="nav nav-tabs">
        {{ dedipanel_buttons.create(path('dedipanel_teamspeak_create'), 'teamspeak.actions.add'|trans, 'ROLE_DP_VOIP_TEAMSPEAK_CREATE', null, true) }}
    </ul>

    {{ dedipanel_flashes.all() }}

    <div id="teamspeak" class="server-list">
    {% for entity in teamspeaks %}
        <div class="server-item clearfix">
        {% if entity.isInstallationEnded %}
            <div class="infos">
                <div class="titre">
                {% if is_granted('ROLE_DP_VOIP_TEAMSPEAK_INSTANCE_INDEX', entity) %}
                    <a href="{{ path('dedipanel_teamspeak_instance_index', {serverId: entity.id}) }}">
                        {{ entity.machine }}
                    </a>
                {% else %}
                    {{ entity.machine }}
                {% endif %}
                </div>

                <div class="status">
                {% if entity.query.isOnline %}
                    {{ 'voip.online'|trans }}
                {% else %}
                    {{ 'voip.offline'|trans }}
                {% endif %}
                </div>
            </div>

            {% include 'DPTeamspeakServerBundle:TeamspeakServer:actionBar.html.twig' with {online: online, server: entity} %}
        {% else %}
            <div class="infos">
                <div class="titre">{{ entity.machine }}</div>

                <div class="status">
                    {{ 'voip.installation_in_progress'|trans }}
                </div>
            </div>
        {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}
