{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:actions.html.twig' as sylius_actions %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as sylius_buttons %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_teamspeak_index'), 'teamspeak.title.teamspeak'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'teamspeak.title.update'|trans }}</h2>

    <form action="{{ path('dedipanel_teamspeak_update', {id: teamspeak.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        {{ sylius_actions.update() }}
    </form>

    {% if is_granted('ROLE_DP_VOIP_TEAMSPEAK_DELETE') %}
        {{ sylius_buttons.delete(path('dedipanel_teamspeak_delete', {'id': teamspeak.id})) }}
        {{ sylius_buttons.delete(path('dedipanel_teamspeak_delete', {'id': teamspeak.id, 'fromMachine': true})) }}
    {% endif %}
{% endblock %}