{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_teamspeak_index'), 'teamspeak.title.teamspeak'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'teamspeak.title.update'|trans }}</h2>

    <form action="{{ path('dedipanel_teamspeak_update', {id: teamspeak.id}) }}" method="post" {{ form_enctype(form) }} class="form-edit">
        {{ form_row(form.machine) }}
        {{ form_row(form.dir) }}
        {{ form_row(form.voice_port) }}
        {{ form_row(form.query_port) }}
        {{ form_row(form.query_password) }}
        {{ form_row(form.filetransfer_port) }}
        {{ form_row(form.licence_file) }}
        {% if form.core is defined %}
            {{ form_row(form.core) }}
        {% endif %}

        {{ form_widget(form) }}
    </form>

    <div class="form-actions">
        {{ dedipanel_actions.update(path('dedipanel_teamspeak_instance_index', {'serverId': teamspeak.id})) }}
        {{ dedipanel_buttons.delete(path('dedipanel_teamspeak_delete', {'id': teamspeak.id}), null, false, true, 'ROLE_DP_VOIP_TEAMSPEAK_DELETE', teamspeak) }}
        {{ dedipanel_buttons.delete(path('dedipanel_teamspeak_delete', {'id': teamspeak.id, 'fromMachine': true}), 'dedipanel.full_delete'|trans, false, true, 'ROLE_DP_VOIP_TEAMSPEAK_DELETE', teamspeak) }}
    </div>
{% endblock %}