{% extends "::layout.html.twig" %}
{% block content %}
    <h1>{{ 'jeu.editGame'|trans }}</h1>

    <ul class="record_actions">
        <li>
            <a href="{{ path('jeu') }}">
                {{ 'jeu.back'|trans }}
            </a>
        </li>
        <li>
            <form action="{{ path('jeu_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">{{ 'jeu.del'|trans }}</button>
            </form>
        </li>
    </ul>

    <form action="{{ path('jeu_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">{{ 'jeu.edit'|trans }}</button>
        </p>
    </form>
{% endblock %}