{% extends "::layout.html.twig" %}
{% block content %}
    <h1>{{ 'jeu.list'|trans }}</h1>

    <ul>
        <li>
            <a href="{{ path('jeu_new') }}">
                {{ 'jeu.add'|trans }}
            </a>
        </li>
    </ul>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'jeu.id'|trans }}</th>
                <th>{{ 'jeu.name'|trans }}</th>
                {# <th>{{ 'jeu.installName'|trans }}</th>
                <th>{{ 'jeu.launchName'|trans }}</th>
                #} <th>{{ 'jeu.bin'|trans }}</th> {#
                <th>{{ 'jeu.orangebox'|trans }}</th> #}
                <th>{{ 'jeu.map'|trans }}</th>
                <th>{{ 'jeu.available'|trans }}</th>
                <th>{{ 'jeu.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('jeu_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                {# <td>{{ entity.installName }}</td>
                <td>{{ entity.launchName }}</td>
                #} <td>{{ entity.bin }}</td> {#
                <td>{% if entity.orangebox == 1 %}
                        {{ 'jeu.yes'|trans }}
                    {% else %}
                        {{ 'jeu.no'|trans }}
                    {% endif %}
                </td> #}
                <td>{{ entity.map }}</td>
                <td>{% if entity.available == 1 %}
                        {{ 'jeu.yes'|trans }}
                    {% else %}
                        {{ 'jeu.no'|trans }}
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('jeu_show', { 'id': entity.id }) }}">{{ 'jeu.show'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('jeu_edit', { 'id': entity.id }) }}">{{ 'jeu.edit'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}