{% extends "::layout.html.twig" %}
{% block content %}
    <h1>{{ 'jeu.add'|trans }}</h1>

    <ul class="record_actions">
        <li>
            <a href="{{ path('jeu') }}">
                {{ 'jeu.back'|trans }}
            </a>
        </li>
    </ul>

    <form action="{{ path('jeu_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">{{ 'jeu.addButton'|trans }}</button>
        </p>
    </form>
{% endblock %}