{#
    (c) Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block title %}
    {{ dedipanel_buttons.back(path('_welcome'), 'group.title.group'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'group.title.index'|trans }}</h2>

    <ul id="top-nav" class="nav nav-tabs">
        {{ dedipanel_buttons.create(path('dedipanel_group_create'), 'group.actions.add'|trans, 'ROLE_DP_ADMIN_GROUP_CREATE', null, true) }}
    </ul>

    {{ dedipanel_flashes.all() }}
    
    <table class="table table-striped group-list">
        <thead>
            <tr>
                <th>{{ 'group.fields.name'|trans }}</th>
                <th>{{ 'dedipanel.fields.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td>

                    <td>
                        <div class="btn-group">
                            {{ dedipanel_buttons.show(path('dedipanel_group_show', {'id': group.id}), null, 'ROLE_DP_ADMIN_GROUP_SHOW', group) }}
                            {{ dedipanel_buttons.edit(path('dedipanel_group_update', {'id': group.id}), null, 'ROLE_DP_ADMIN_GROUP_SHOW', group) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
