{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-online.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_group_index'), 'group.title.group'|trans) }}
{% endblock %}

{% block body %}
    <h2>{{ 'group.title.show'|trans }}</h2>

    {{ dedipanel_flashes.all() }}

    <table class="table table-striped show-group">
        <tbody>
            <tr>
                <th>{{ 'group.fields.id'|trans }}</th>
                <td>{{ group.id }}</td>
            </tr>
            <tr>
                <th>{{ 'group.fields.name'|trans }}</th>
                <td>{{ group.name }}</td>
            </tr>
            <tr>
                <th>{{ 'group.fields.parent'|trans }}</th>
                <td>{{ group.parent }}</td>
            </tr>
            <tr>
                <th>{{ 'group.fields.children'|trans }}</th>
                <td><ul>
                    {% for group in group.children %}
                        <li>{{ group }}</li>
                    {% endfor %}
                </ul></td>
            </tr>
        </tbody>
    </table>

    <div class="form-group clearfix">
        {{ dedipanel_buttons.edit(path('dedipanel_group_update', {'id': group.id}), null, 'ROLE_DP_ADMIN_GROUP_UPDATE', group) }}
        {{ dedipanel_buttons.delete(path('dedipanel_group_delete', {'id': group.id}), null, false, true, 'ROLE_DP_ADMIN_GROUP_DELETE', group) }}
    </div>
{% endblock %}