{#
    (c) Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_group_show', {'id': group.id}), 'group.title.group'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'group.title.edit'|trans }}</h2>

    <form id="form-update" action="{{ path('dedipanel_group_update', { 'id': group.id }) }}" method="post" class="form-edit">    
        {{ form_widget(form) }}
    </form>
        
    <div class="form-actions">
        {{ dedipanel_actions.update(path('dedipanel_group_show', {'id': group.id})) }}    
        {{ dedipanel_buttons.delete(path('dedipanel_group_delete', {'id': group.id})) }}
    </div>
    
{% endblock %}
