{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-online.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_group_show', {'id': group.id}), 'group.title.group'|trans) }}
{% endblock %}

{% block body %}
    <h2>{{ 'group.title.edit'|trans }}</h2>

    <form id="form-update" action="{{ path('dedipanel_group_update', { 'id': group.id }) }}" method="post" class="form-edit">    
        {{ form_widget(form) }}
    </form>
        
    <div class="form-actions clearfix">
        {{ dedipanel_actions.update(path('dedipanel_group_show', {'id': group.id}), null, 'ROLE_DP_ADMIN_GROUP_SHOW', group) }}
        {{ dedipanel_buttons.delete(path('dedipanel_group_delete', {'id': group.id}), null, false, true, 'ROLE_DP_ADMIN_GROUP_DELETE', group) }}
    </div>
{% endblock %}
