{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% set sid = server.id %}

<div class="actions clearfix">
    {% if is_granted('ROLE_DP_GAME_MINECRAFT_STATE') %}
        {% if online %}
            <a href="{{ path('dedipanel_minecraft_change_state', { 'id': sid, 'state': 'stop' }) }}">
                 <span class="icon icon-stop" title="{{ 'game.stop'|trans }}"></span>
            </a>
            <a href="{{ path('dedipanel_minecraft_change_state', { 'id': sid, 'state': 'restart' }) }}">
                <span class="icon icon-start" title="{{ 'game.restart'|trans }}"></span>
            </a>
        {% else %}
            <a href="{{ path('dedipanel_minecraft_change_state', { 'id': sid, 'state': 'start' }) }}">
                <span class="icon icon-uni22" title="{{ 'game.start'|trans }}"></span>
            </a>
        {% endif %}
    {% endif %}

    {% if is_granted('ROLE_DP_GAME_MINECRAFT_UPDATE') %}
        <a href="{{ path('dedipanel_minecraft_update', {id: sid }) }}">
            <span class="icon icon-uni25" title="{{ 'game.edit'|trans }}"></span>
        </a>
    {% endif %}

    {% if is_granted('ROLE_DP_GAME_MINECRAFT_PLUGIN') and server.game.isBukkit %}
        <a href="{{ path('dedipanel_minecraft_plugin_show', {id: sid }) }}">
            <span class="icon icon-config" title="{{ 'game.plugin.title'|trans }}"></span>
        </a>
    {% endif %}

    {% if is_granted('ROLE_DP_GAME_MINECRAFT_FTP') %}
        <a href="{{ path('dedipanel_minecraft_ftp_show', {id: sid }) }}">
            <span class="icon icon-ftp" title="{{ 'game.ftp.title'|trans }}"></span>
        </a>
    {% endif %}

    {% if is_granted('ROLE_DP_GAME_MINECRAFT_RCON') %}
        <a href="{{ path('dedipanel_minecraft_rcon', {id: sid}) }}">
            <span class="icon icon-code" title="{{ 'game.rcon.title'|trans }}"></span>
        </a>
    {% endif %}

    {% if show and online %}
        <a href="{{ path('dedipanel_minecraft_show', {id: sid}) }}" class="slide">
            <span class="icon icon-option" title="{{ 'server.show'|trans }}"></span>
        </a>
    {% endif %}
</div>