{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% set sid = server.id %}

<div class="actions clearfix">
    {% if is_granted('ROLE_DP_GAME_MINECRAFT_STATE', server) %}
        {% if online %}
            <a href="{{ path('dedipanel_minecraft_change_state', { 'id': sid, 'state': 'stop' }) }}" title="{{ 'game.stop'|trans }}">
                 <span class="icon icon-stop"></span>
            </a>
            <a href="{{ path('dedipanel_minecraft_change_state', { 'id': sid, 'state': 'restart' }) }}" title="{{ 'game.restart'|trans }}">
                <span class="icon icon-start"></span>
            </a>
        {% else %}
            <a href="{{ path('dedipanel_minecraft_change_state', { 'id': sid, 'state': 'start' }) }}" title="{{ 'game.start'|trans }}">
                <span class="icon icon-uni22"></span>
            </a>
        {% endif %}
    {% endif %}

    {% if is_granted('ROLE_DP_GAME_MINECRAFT_UPDATE', server) %}
        <a href="{{ path('dedipanel_minecraft_update', {id: sid }) }}" title="{{ 'game.edit'|trans }}">
            <span class="icon icon-uni25"></span>
        </a>
    {% endif %}

    {% if is_granted('ROLE_DP_GAME_MINECRAFT_PLUGIN', server) and server.game.isBukkit %}
        <a href="{{ path('dedipanel_minecraft_plugin', {id: sid }) }}" title="{{ 'game.plugin.title'|trans }}">
            <span class="icon icon-config"></span>
        </a>
    {% endif %}

    {% if is_granted('ROLE_DP_GAME_MINECRAFT_FTP', server) %}
        <a href="{{ path('dedipanel_minecraft_ftp_show', {id: sid }) }}" title="{{ 'game.ftp.title'|trans }}">
            <span class="icon icon-ftp" ></span>
        </a>
    {% endif %}

    {% if is_granted('ROLE_DP_GAME_MINECRAFT_RCON', server) %}
        <a href="{{ path('dedipanel_minecraft_rcon', {id: sid}) }}" title="{{ 'game.rcon.title'|trans }}">
            <span class="icon icon-code"></span>
        </a>
    {% endif %}

    {% if is_granted('ROLE_DP_GAME_MINECRAFT_SHOW', server) and show and online %}
        <a href="{{ path('dedipanel_minecraft_show', {id: sid}) }}" title="{{ 'server.show'|trans }}" class="slide">
            <span class="icon icon-option"></span>
        </a>
    {% endif %}
</div>