{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-online.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}
{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/dpminecraftserver/js/add.js') }}"></script>
{% endblock %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_minecraft_index'), 'minecraft.add'|trans) }}
{% endblock %}

{% block body %}
    <h2>{{ 'minecraft.add'|trans }}</h2>
    
    <form action="{{ path('dedipanel_minecraft_create') }}" method="post" {{ form_enctype(form) }} id="form-create" class="form-horizontal">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.machine) }}
        {{ form_row(form.port) }}
        {{ form_row(form.game) }}
        {{ form_row(form.dir) }}
        {{ form_row(form.queryPort) }}
        {{ form_row(form.rconPort) }}
        {{ form_row(form.rconPassword) }}
        {{ form_row(form.maxplayers) }}
        {{ form_row(form.minHeap) }}
        {{ form_row(form.maxHeap) }}
        {{ form_row(form.alreadyInstalled) }}

        {{ form_rest(form) }}
        {{ dedipanel_actions.create() }}
    </form>
{% endblock %}
