{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::layout.html.twig" %}

{% block title %}
    <a href="{{ path('DPGameServerBundle_menu') }}">
        <span class="titre icone">h</span>
    </a>

    {{ 'minecraft.list'|trans }}
{% endblock %}

{% block content %}
    <ul>
        <li>
            <a href="{{ path('minecraft_new') }}">
                {{ 'minecraft.add'|trans }}
            </a>
        </li>
    </ul>

    <div class="server-list">
        {% for entity in entities %}
            <div id="server-item minecraft-{{ entity.id }}">
                {% if entity.getInstallationStatus < 101 %}
                    <div class="summary">
                        <div class="infos">
                            <a href="{{ path('minecraft_show', {'id': entity.id }) }}">
                                <img src="../images/serveur/viewer/minecraft.png" alt="Minecraft" />
                            </a>
                            <p>
                                <b><a href="{{ path('minecraft_show', {id: entity.id}) }}">{{ entity.name }}</a></b><br />
                                {{ entity.machine.publicIp }}:{{ entity.port }}
                            </p>
                        </div>

                        <div id="installation-progress">
                            <progress value="{{ entity.installationStatus }}"></progress><br />
                            <a href="{{ path('minecraft_install', {id: entity.id }) }}">{{ 'game.updateStatus'|trans }}</a>
                        </div>
                    </div>
                {% else %}
                    <div class="row server-item" id="minecraft-{{ entity.id }}">

                        <div class="server-infos">
                            <div class="titre">
                                <a href="{{ path('minecraft_show', {id: entity.id}) }}">{{ entity.name }}</a>
                            </div>

                            <div class="description">
                                {{ entity.machine.publicIp }}:{{ entity.port }}
                            </div>
                        </div>

                        <div class="actions">
                            {# {% if online %} #}
                                <a href="{{ path('minecraft_changeState', { 'id': entity.id, 'state': 'stop' }) }}"><img class="stop-image" src="/images/icones/serveur/stop.png" title="{{ 'steam.stop'|trans }}"/></a>
                                <a href="{{ path('minecraft_changeState', { 'id': entity.id, 'state': 'restart' }) }}"><img src="/images/icones/serveur/restart.png" title="{{ 'steam.restart'|trans }}"/></a>
                            {# {% else %} #}
                                <a href="{{ path('minecraft_changeState', { 'id': entity.id, 'state': 'start' }) }}"><img class="start-image" src="/images/icones/serveur/start.png" title="{{ 'steam.start'|trans }}"/></a>
                            {# {% endif %} #}

                                <a href="{{ path('minecraft_edit', {id: entity.id }) }}"><img src="/images/icones/serveur/config.png" title="{{ 'game.edit'|trans }}" /></a>
                                {# <a href="{{ path('minecraft_plugins_show', {id: entity.id }) }}"><img src="/images/icones/serveur/plugins.png" title="{{ 'steam.pluginsAction'|trans }}" /></a> #}
                                <a href="{{ path('minecraft_show', {id: entity.id}) }}" class="slide" id="steam-{{ entity.id }}"><img src="/images/icones/serveur/slide.png" title="Slide"/></a>
                                {# <a href="{{ path('steam_show', {id: entity.id}) }}" class="slide" id="steam-{{ entity.id }}"><img src="/images/icones/serveur/stats.png" title="Statistiques"/></a> #}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
