{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-online.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_minecraft_index'), 'minecraft.title.minecraft'|trans) }}
{% endblock %}

{% block body %}
    <h2>{{ 'game.plugin.showTitle'|trans }}</h2>

    {{ dedipanel_flashes.all() }}

    <table>
        <tr>
            <th>{{ 'game.plugin.name'|trans }}</th>
            <th>{{ 'game.plugin.status'|trans }}</th>
        </tr>

        {% for plugin in minecraft.installedPlugins %}
            <tr>
                <th>{{ plugin.name }}</th>
                <td><a href="{{ path('dedipanel_minecraft_plugin_uninstall', {'id': minecraft.id, 'plugin': plugin.id}) }}">
                        {{ dedipanel_buttons.yes_no(true) }}
                </a></td>
            </tr>
        {% endfor %}

        {% for plugin in minecraft.notInstalledPlugins %}
            <tr>
                <th>{{ plugin.name }}</th>
                <td><a href="{{ path('dedipanel_minecraft_plugin_install', {'id': minecraft.id, 'plugin': plugin.id}) }}">
                    {{ dedipanel_buttons.yes_no(false) }}
                </a></td>
            </tr>
        {% endfor %}

        {% if minecraft.installedPlugins is empty and minecraft.notInstalledPlugins is empty %}
            <tr><th colspan="2">{{ 'game.plugin.noPluginForThatGame'|trans }}</th></tr>
        {% endif %}
    </table>
{% endblock %}