{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block bundleStylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/dpgameserver/css/game.css') }}" />
{% endblock %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_minecraft_index'), 'minecraft.title.minecraft'|trans) }}
{% endblock %}

{% macro install_status(minecraft) %}
    {% spaceless %}
        {% if minecraft.installationStatus is null %}
            Buggued
        {% elseif minecraft.isInstallationEnded %}
            {{ 'game.installation_ended'|trans }}
        {% else %}
            {{ minecraft.installationStatus }}%
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% block content %}
    {% set online = (minecraft.query.online != false) %}

    <div class="serveur-header-bg">
        <div class="serveur-header-texture">
            <div class="serveur-header">
                <div class="serveur-header-content">
                    <div class="serveur-header-image">
                        {% if online %}
                            <img src="{{ minecraft.game.sourceImagesMaps }}{{ minecraft.query.serverInfos['map'] }}.jpg" alt="{{ minecraft.query.serverInfos['map'] }}" />
                        {% else %}
                            <img class="offline" src=" {{ asset('images/serveur/viewer/offline.jpg') }}"/>
                        {% endif %}
                    </div>
                    <div class="serveur-header-info">
                            <div class="serveur-header-name">
                                {% if is_granted('ROLE_DP_GAME_MINECRAFT_ADMIN', minecraft) %}
                                    <ul>
                                        {% if minecraft.isInstallationEnded %}
                                            <li>
                                                <a href="{{ path('dedipanel_minecraft_regen', { 'id': minecraft.id }) }}">
                                                    {{ 'game.regenerate'|trans }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        
                                        <li>
                                            <a href="{{ path('dedipanel_minecraft_logs', { 'id': minecraft.id}) }}">
                                                {{ 'game.showLog'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                        </a>
                        <div class="serveur-header-map">
                            <div class="serveur-header-player">
                                {% if online %}
                                    {{ minecraft.query.serverInfos['numplayers'] }} / 
                                    {{ minecraft.query.serverInfos['maxplayers'] }} 
                                {% endif %}
                            </div>
                        </div>
                        
                        {% if minecraft.isInstallationEnded %}
                            <div class="serveur-header-actionbar">
                                {% include 'DPMinecraftServerBundle:MinecraftServer:actionBar.html.twig' with {show: true, online: online, server: minecraft} %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="serveur-header-summary">
                        <div class="serveur-header-name">
                            <a href="{{ path('dedipanel_minecraft_show', {id: minecraft.id}) }}">{{ minecraft.name }}</a>
                        </div>
                        <div class="serveur-header-map">
                        {% if online %}  
                            {{ 'game.map'|trans({'%map%': minecraft.query.serverInfos['map']}) }}
                        {% else %}
                            <div class="offline">
                                {{ 'game.offline'|trans }}
                            </div>
                        {% endif %}                            
                        </div>
                        <div class="profile_summary">
                          <table class="table-condensed">
                            <tbody>
                                <tr>
                                    <th>{{ 'game.IPAddress'|trans }}</th>
                                    <td>{{ minecraft.machine.publicIp }}:{{ minecraft.port }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'game.game'|trans }}</th>
                                    <td>{{ minecraft.game }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'game.installStatus'|trans }}</th>
                                    <td>
                                        {% if is_granted('ROLE_DP_GAME_MINECRAFT_UPDATE', minecraft) %}
                                            <a href="{{ path('dedipanel_minecraft_install', { 'id': minecraft.id }) }}">
                                                {{ _self.install_status(minecraft) }}
                                            </a>
                                        {% else %}
                                            {{ _self.install_status(minecraft) }}
                                        {% endif %}
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {{ dedipanel_flashes.all() }}
    
    <div class="serveur-content">
        <div class="serveur-players">
            <table class="table table-hover players">
                <thead>
                    <tr>
                        <th>{{ 'game.player'|trans }}</th>
                        <th>{{ 'game.score'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% if online %} 
                        {% for player in minecraft.query.players %}
                            <tr>
                                <td>{{ player.nom }}</td>
                                <td>{{ player.score }}</td>
                            </tr>
                        {% else %}
                            <tr><th colspan="2" class="empty">
                                {{ 'game.no_player_connected'|trans }}
                            </th></tr>
                        {% endfor %}
                    {% else %}
                        <tr><th colspan="2" class="empty">
                        {{ 'game.offline_server'|trans }}
                        </th></tr>                 
                    {% endif %}                
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group clearfix">
        {{ dedipanel_buttons.edit(path('dedipanel_minecraft_update', {'id': minecraft.id}), null, 'ROLE_DP_GAME_MINECRAFT_UPDATE', minecraft) }}
        {{ dedipanel_buttons.delete(path('dedipanel_minecraft_delete', {'id': minecraft.id}), null, false, true, 'ROLE_DP_GAME_MINECRAFT_DELETE', minecraft) }}
        {{ dedipanel_buttons.delete(path('dedipanel_minecraft_delete', {'id': minecraft.id, 'fromMachine': true}), 'dedipanel.full_delete'|trans, false, true, 'ROLE_DP_GAME_MINECRAFT_DELETE', minecraft) }}
    </div>
{% endblock %}