{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:actions.html.twig' as sylius_actions %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as sylius_buttons %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_minecraft_index'), 'minecraft.title.minecraft'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'minecraft.title.edit'|trans }}</h2>
    
    <form action="{{ path('dedipanel_minecraft_update', { 'id': minecraft.id }) }}" method="post" {{ form_enctype(form) }} class="form-edit">
        {{ form_widget(form) }}
        {{ sylius_actions.update(path('dedipanel_minecraft_show', {'id': minecraft.id})) }}
    </form>
    
    {% if is_granted('ROLE_DP_GAME_MINECRAFT_DELETE') %}
        {{ sylius_buttons.delete(path('dedipanel_minecraft_delete', {'id': minecraft.id})) }}
        {{ sylius_buttons.delete(path('dedipanel_minecraft_delete', {'id': minecraft.id, 'fromMachine': true}), 'dedipanel.full_delete'|trans) }}
    {% endif %}
{% endblock %}
