{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-online.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_minecraft_index'), 'minecraft.editTitle'|trans) }}
{% endblock %}

{% block body %}
    <h2>{{ 'minecraft.edit'|trans }}</h2>
    
    <form id="form-update" action="{{ path('dedipanel_minecraft_update', { 'id': minecraft.id }) }}" method="post" {{ form_enctype(form) }} class="form-edit">
        {{ form_widget(form) }}
    </form>
    
    <div class="form-actions">
        {{ dedipanel_actions.update(path('dedipanel_minecraft_show', {'id': minecraft.id})) }}
        {{ dedipanel_buttons.delete(path('dedipanel_minecraft_delete', {'id': minecraft.id}), null, false, true, 'ROLE_DP_GAME_MINECRAFT_DELETE', minecraft) }}
        {{ dedipanel_buttons.delete(path('dedipanel_minecraft_delete', {'id': minecraft.id, 'fromMachine': true}), 'dedipanel.full_delete'|trans, false, true, 'ROLE_DP_GAME_MINECRAFT_DELETE', minecraft) }}
    </div>
{% endblock %}
