{% extends "DPDistributionBundle:Configurator:layout.html.twig" %}

{% block content %}
    <ul id="requirements">
        {% for label, state in requirements %}
            {% if state == true %}
                {% set class = 'good' %}
            {% else %}
                {% set class = 'bad' %}
            {% endif %}
            
            <li class="{{ class }}">
                <b>{{ label|trans }} :</b>
                
                {% if state == true %}
                    {{ 'configurator.ok'|trans }}
                {% else %}
                    {{ 'configurator.nok'|trans }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    {% if hasError == false %}
        <a href="{{ path('installer_step', { 'type': 'install', 'index': 0 }) }}">{{ 'configurator.next'|trans }}</a>
    {% endif %}
{% endblock %}