{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout-installer.html.twig" %}

{% block content %}
    <ul id="requirements">
        {% for label, state in requirements %}
            {% if state == true %}
                {% set class = 'good' %}
            {% else %}
                {% set class = 'bad' %}
            {% endif %}
            
            <li class="{{ class }}">
                <b>{{ label|trans }} :</b>
                
                {% if state == true %}
                    {{ 'configurator.ok'|trans }}
                {% else %}
                    {{ 'configurator.nok'|trans }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    {% if hasError == false %}
        <a href="{{ path('dedipanel_installer_step', { 'type': 'install', 'step': 0 }) }}" class="btn btn-primary">
            {{ 'configurator.next'|trans }}
        </a>
    {% endif %}
{% endblock %}
