{% extends '::layout-online.html.twig' %}

{% block title %}
    {{ (descriptor.name ~ '.add')|trans }}
{% endblock %}

{% block body -%}
    <h2>{{ (descriptor.name ~ '.add')|trans }}</h2>

    <ul id="top-nav" class="nav nav-tabs">
        <li>
            <a href="{{ path(descriptor.routes.index) }}">
                {{ 'admin.back'|trans }}
            </a>
        </li>
    </ul>

    {{ form(form) }}
{% endblock %}
