{% extends "::layout.html.twig" %}

{% block title %}
    <a href="{{ path('machine') }}"> 
        <span class="icon" data-icon="&#x29;" title="{{ 'machine.back'|trans }}"></span>
    </a>
    
    {{ 'machine.machine'|trans }}
{% endblock %}
        
{% block content %}
    <legend>{{ 'machine.connectionTest'|trans }}</legend>
    
    {% if result %}
        <div class="alert alert-block alert-success machine-test">
            <p class="alert-heading">{{ 'machine.test.successful'|trans }}</p>
        </div>
    {% else %}
        <div class="alert alert-block alert-error machine-test">
            <p class="alert-heading">{{ 'machine.test.failed'|trans }}</p>
            
            <p>
                <a class="btn btn-danger" href="{{ path('machine_edit', {id: mid}) }}">{{ 'machine.edit'|trans }}</a>
                <a class="btn" href="{{ path('machine_connectionTest', {id: mid}) }}">{{ 'machine.test.retry'|trans }}</a>
            </p>
        </div>
    {% endif %}
{% endblock %}
