{#
 Copyright (C) 2010-2013 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::layout.html.twig" %}

{% block title %}
    <a href="{{ path('machine_show', { id: machine.id } ) }}"> 
        <span class="icon" data-icon="&#x29;" title="{{ 'machine.back'|trans }}"></span>
    </a>
    
    {{ 'machine.machine'|trans }}
{% endblock %}
        
{% block content %}
    <h2>{{ 'machine.connectionTest'|trans }}</h2>
    
    {% if result %}
        <div class="alert alert-block alert-success machine-test">
            <p class="alert-heading">{{ 'machine.test.successful'|trans }}</p>
        </div>
        
        {% if machine.is64Bit == true and hasCompatLib == false %}
            <div class="alert alert-block alert-warning compat-lib">
                <p class="alert-heading">{% autoescape false %}{{ 'machine.compatLibNotInstalled'|trans }}{% endautoescape %}</p>
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-block alert-error machine-test">
            <p class="alert-heading">{{ 'machine.test.failed'|trans }}</p>
            
            <p>
                <a class="btn btn-danger" href="{{ path('machine_edit', {id: machine.id}) }}">{{ 'machine.edit'|trans }}</a>   
                <a class="btn" href="{{ path('machine_connectionTest', {id: machine.id}) }}">{{ 'machine.test.retry'|trans }}</a>
            </p>
        </div>
    {% endif %}
{% endblock %}
