{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_machine_show', {'id': machine.id}), 'machine.title.machine'|trans) }}
{% endblock %}
        
{% block content %}
    <h2>{{ 'machine.title.connection_test'|trans }}</h2>

    {{ dedipanel_flashes.all(false) }}

    <div class="form-group">
        {% if test == false %}
            {{ dedipanel_buttons.edit(path('dedipanel_machine_update', {'id': machine.id}), null, 'ROLE_DP_ADMIN_MACHINE_UPDATE', machine) }}
        {% endif %}

        {{ dedipanel_buttons.manage(path('dedipanel_machine_connection_test', {'id': machine.id}), 'machine.actions.connection_test'|trans, 'ROLE_DP_ADMIN_MACHINE_SHOW', machine) }}
        {{ dedipanel_buttons.generic(path('dedipanel_machine_show', {'id': machine.id}), 'sylius.back'|trans, 'icon-cross', 'ROLE_DP_ADMIN_MACHINE_SHOW', machine) }}
    </div>
{% endblock %}
