{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-online.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}
{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_machine_index'), 'machine.title.machine'|trans) }}
{% endblock %}

{% block body %}
    <h2>{{ 'machine.title.add'|trans }}</h2>

    <form action="{{ path('dedipanel_machine_create') }}" method="post" id="form-create"class="form-horizontal">
        {{ form_widget(form) }}
        {{ dedipanel_actions.create() }}
    </form>
{% endblock %}
