{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-online.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block bundleStylesheets %}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/dpmachine/css/machine.css') }}" />
{% endblock %}

{% block title %}
    {{ dedipanel_buttons.back(path('_welcome'), 'machine.title.machine'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'machine.title.index'|trans }}</h2>

    <ul id="top-nav" class="nav nav-tabs">
        {{ dedipanel_buttons.create(path('dedipanel_machine_create'), 'machine.actions.add'|trans, 'ROLE_DP_ADMIN_MACHINE_CREATE', null, true) }}
    </ul>

    {{ dedipanel_flashes.all() }}
    
    <table class="table table-striped machine-list">
        <thead>
            <tr>
                <th>{{ 'machine.fields.id'|trans }}</th>
                <th>{{ 'machine.fields.ip'|trans }}</th>
                <th>{{ 'machine.fields.public_ip'|trans }}</th>
                <th>{{ 'machine.fields.port'|trans }}</th>
                <th>{{ 'machine.fields.username'|trans }}</th>
                <th>{{ 'dedipanel.fields.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for machine in machines %}
                <tr>
                    <td>{{ machine.id }}</td>
                    <td>{{ machine.ip }}</td>
                    <td>{{ machine.publicIp }}</td>
                    <td>{{ machine.port }}</td>
                    <td>{{ machine.username }}</td>

                    <td>
                        <div class="btn-group">
                            {{ dedipanel_buttons.show(path('dedipanel_machine_show', {'id': machine.id}), null, 'ROLE_DP_ADMIN_MACHINE_SHOW', machine) }}
                            {{ dedipanel_buttons.edit(path('dedipanel_machine_update', {'id': machine.id}), null, 'ROLE_DP_ADMIN_MACHINE_UPDATE', machine) }}
                            {{ dedipanel_buttons.manage(path('dedipanel_machine_connection_test', {'id': machine.id}), 'machine.actions.connection_test'|trans, 'ROLE_DP_ADMIN_MACHINE_SHOW', machine) }}
                        </div>
                    </td>
                </tr>  
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
