{% extends "::layout.html.twig" %}

{% block bundleStylesheets %}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/dpmachine/css/machine.css') }}" />
{% endblock %}

{% block title %}
    <a href="/"> 
        <span class="icon" data-icon="&#x29;" title="{{ 'machine.back'|trans }}"></span>
    </a>
    
    {{ 'machine.machine'|trans }}
{% endblock %}

{% block content %}
    <h2>{{ 'machine.machine'|trans }}</h2>

    <ul id="top-nav" class="nav nav-tabs">
        <li class="pull-right">
            <a href="{{ path('machine_new') }}">
                {{ 'machine.new'|trans }}
            </a>
        </li>
    </ul>
    
    <table class="table table-striped machine-list">
        <thead>
            <tr>
                <th>{{ 'machine.id'|trans }}</th>
                <th>{{ 'machine.privateIp'|trans }}</th>
                <th>{{ 'machine.publicIp'|trans }}</th>
                <th>{{ 'machine.port'|trans }}</th>
                <th>{{ 'machine.user'|trans }}</th>
                <th>{{ 'machine.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.privateIp }}</td>
                    <td>{{ entity.publicIp }}</td>
                    <td>{{ entity.port }}</td>
                    <td>{{ entity.user }}</td>

                    <td> 
                        <div class="btn-group">
                            <a href="{{ path('machine_show', { 'id': entity.id }) }}" class="btn">{{ 'machine.show'|trans }}</a>
                            <a href="{{ path('machine_edit', { 'id': entity.id }) }}" class="btn">{{ 'machine.edit'|trans }}</a>
                            <a href="{{ path('machine_connectionTest', { 'id': entity.id }) }}" class="btn">{{ 'machine.connectionTest'|trans }}</a>
                        </div>
                    </td>
                </tr>  
            {% endfor %}
        </tbody>
    </table>
{% endblock %}