{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as sylius_buttons %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block bundleStylesheets %}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/dpmachine/css/machine.css') }}" />
{% endblock %}

{% block title %}
    {{ dedipanel_buttons.back(path('_welcome'), 'machine.title.machine'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'machine.title.index'|trans }}</h2>

    <ul id="top-nav" class="nav nav-tabs">
        {% if is_granted('ROLE_DP_ADMIN_MACHINE_CREATE') %}
            <li>
                {{ sylius_buttons.edit(path('dedipanel_machine_create'), 'machine.actions.add'|trans) }}
            </li>
        {% endif %}
    </ul>
    
    <table class="table table-striped machine-list">
        <thead>
            <tr>
                <th>{{ 'machine.fields.id'|trans }}</th>
                <th>{{ 'machine.fields.private_ip'|trans }}</th>
                <th>{{ 'machine.fields.public_ip'|trans }}</th>
                <th>{{ 'machine.fields.port'|trans }}</th>
                <th>{{ 'machine.fields.user'|trans }}</th>
                <th>{{ 'dedipanel.fields.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for machine in machines %}
                <tr>
                    <td>{{ machine.id }}</td>
                    <td>{{ machine.privateIp }}</td>
                    <td>{{ machine.publicIp }}</td>
                    <td>{{ machine.port }}</td>
                    <td>{{ machine.user }}</td>

                    <td>
                        <div class="btn-group">
                            {% if is_granted('ROLE_DP_ADMIN_MACHINE_SHOW') %}
                                {{ sylius_buttons.show(path('dedipanel_machine_show', {'id': machine.id})) }}
                            {% endif %}
                            
                            {% if is_granted('ROLE_DP_ADMIN_MACHINE_UPDATE') %}
                                {{ sylius_buttons.edit(path('dedipanel_machine_update', {'id': machine.id})) }}
                            {% endif %}
                            
                            {% if is_granted('ROLE_DP_ADMIN_MACHINE_SHOW') %}
                                {{ sylius_buttons.manage(path('dedipanel_machine_connection_test', {'id': machine.id}), 'machine.actions.connection_test'|trans) }}
                            {% endif %}
                        </div>
                    </td>
                </tr>  
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
