{% extends "::layout.html.twig" %}

{% form_theme form "::form.html.twig" %}
{% block title %}<a href="{{ path('machine') }}"><span class="titre">h</span></a>{{ 'machine.new'|trans }}{% endblock %}
{% block content %}

    <form action="{{ path('machine_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <input type="submit" name="submit" class="submit" value="{{ 'machine.add'|trans }}" />
        </p>
    </form>
{% endblock %}