{% extends "::layout.html.twig" %}

{% block title %}
    <a href="{{ path('machine') }}"> 
        <span class="icon" data-icon="&#x29;" title="{{ 'machine.back'|trans }}"></span>
    </a>
    
    {{ 'machine.machine'|trans }}
{% endblock %}

{% block content %}
    {% form_theme form "::form.html.twig" %}
    <h2>{{ 'machine.new'|trans }}</h2>

    <form action="{{ path('machine_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        
        <div class="form-actions">
            <input type="submit" name="submit" class="btn btn-primary" value="{{ 'machine.add'|trans }}" />
        </div>
    </form>
{% endblock %}