{% extends "::layout.html.twig" %}

{% form_theme form "::form.html.twig" %}
{% block content %}

<legend><a href="{{ path('machine') }}"><span class="titre">h</span></a>{{ 'machine.new'|trans }}</legend>

    <form action="{{ path('machine_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="form-actions">
            <input type="submit" name="submit" class="btn btn-primary" value="{{ 'machine.add'|trans }}" />
        </div>
    </form>
{% endblock %}