{% extends "::layout.html.twig" %}
{% block title %}<a href="{{ path('machine') }}"><span class="titre">h</span></a>{{ 'machine.machine'|trans }}{% endblock %}
{% block content %}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'machine.id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'machine.privateIp'|trans }}</th>
                <td>{{ entity.privateIp }}</td>
            </tr>
            <tr>
                <th>{{ 'machine.publicIp'|trans }}</th>
                <td>{{ entity.publicIp }}</td>
            </tr>
            <tr>
                <th>{{ 'machine.port'|trans }}</th>
                <td>{{ entity.port }}</td>
            </tr>
            <tr>
                <th>{{ 'machine.user'|trans }}</th>
                <td>{{ entity.user }}</td>
            </tr>
            <tr>
                <th>{{ 'machine.home'|trans }}</th>
                <td>{{ entity.home }}</td>
            </tr>
            <tr>
                <th>{{ 'machine.genPrivKey'|trans }}</th>
                <td>{% if entity.privateKeyFilename|length > 0 %}
                        {{ 'machine.yes'|trans }}
                    {% else %}
                        {{ 'machine.no'|trans }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

        <form action="{{ path('machine_edit', { 'id': entity.id }) }}" method="post">
            <fieldset id="validation"> 

                <input type="submit" value="{{ 'machine.edit'|trans }}" name="submit" class="submit">                

            </fieldset> 
        </form>  
{% endblock %}