{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_machine_index'), 'machine.title.machine'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'machine.title.show'|trans }}</h2>

    {{ dedipanel_flashes.all() }}

    <table class="table table-striped show-game"> 
        <tbody>
            <tr>
                <th>{{ 'machine.fields.id'|trans }}</th>
                <td>{{ machine.id }}</td>
            </tr>
            <tr>
                <th>{{ 'machine.fields.ip'|trans }}</th>
                <td>{{ machine.ip }}</td>
            </tr>
            <tr>
                <th>{{ 'machine.fields.public_ip'|trans }}</th>
                <td>{{ machine.publicIp }}</td>
            </tr>
            <tr>
                <th>{{ 'machine.fields.port'|trans }}</th>
                <td>{{ machine.port }}</td>
            </tr>
            <tr>
                <th>{{ 'machine.fields.username'|trans }}</th>
                <td>{{ machine.username }}</td>
            </tr>
            <tr>
                <th>{{ 'machine.fields.home'|trans }}</th>
                <td>{{ machine.home }}</td>
            </tr>
            <tr>
                <th>{{ 'machine.fields.is_priv_key_already_generated'|trans }}</th>
                <td>{{ dedipanel_buttons.yes_no(machine.privateKeyName|length > 0) }}</td>
            </tr>
            <tr>
                <th>{{ 'machine.fields.nb_core'|trans }}</th>
                <td>{{ machine.nbCore }}</td>
            </tr>
            <tr>
                <th>{{ 'machine.fields.is_64bit'|trans }}</th>
                <td>{{ dedipanel_buttons.yes_no(machine.is64Bit) }}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-group clearfix">
        {{ dedipanel_buttons.edit(path('dedipanel_machine_update', {'id': machine.id}), null, 'ROLE_DP_ADMIN_MACHINE_UPDATE', machine) }}
        {{ dedipanel_buttons.manage(path('dedipanel_machine_connection_test', {'id': machine.id}), 'machine.actions.connection_test'|trans, 'ROLE_DP_ADMIN_MACHINE_SHOW', machine) }}
        {{ dedipanel_buttons.delete(path('dedipanel_machine_delete', {'id': machine.id}), null, false, true, 'ROLE_DP_ADMIN_MACHINE_DELETE', machine) }}
    </div>
{% endblock %}