{#
    (c) Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as sylius_buttons %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_machine_index'), 'machine.title.machine'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'machine.title.show'|trans }}</h2>

    <table class="table table-striped show-machine">
        <thead>
            <tr>
                <th>{{ 'machine.fields.id'|trans }}</th>
                <th>{{ 'machine.fields.ip'|trans }}</th>
                <th>{{ 'machine.fields.public_ip'|trans }}</th>
                <th>{{ 'machine.fields.port'|trans }}</th>
                <th>{{ 'machine.fields.username'|trans }}</th>
                <th>{{ 'machine.fields.home'|trans }}</th>
                <th>{{ 'machine.fields.is_priv_key_already_generated'|trans }}</th>
                <th>{{ 'machine.fields.nb_core'|trans }}</th>
                <th>{{ 'machine.fields.is_64bit'|trans }}</th>
            </tr>  
        </thead>   
        <tbody>
            <tr>
                <td>{{ machine.id }}</td>
                <td>{{ machine.ip }}</td>
                <td>{{ machine.publicIp }}</td>
                <td>{{ machine.port }}</td> 
                <td>{{ machine.username }}</td>
                <td>{{ machine.home }}</td>
                <td>{{ machine.nbCore }}</td>
                <td>{% if machine.is64Bit == true %}
                        {{ 'dedipanel.yes'|trans }}
                    {% else %}
                        {{ 'dedipanel.no'|trans }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-group clearfix">
        {% if is_granted('ROLE_DP_ADMIN_MACHINE_UPDATE') %}
            {{ sylius_buttons.edit(path('dedipanel_machine_update', {'id': machine.id})) }}
        {% endif %}
        
        {% if is_granted('ROLE_DP_ADMIN_MACHINE_DELETE') %}
            {{ sylius_buttons.delete(path('dedipanel_machine_delete', {'id': machine.id})) }}
        {% endif %}
        
        {{ sylius_buttons.manage(path('dedipanel_machine_connection_test', {'id': machine.id}), 'machine.actions.connection_test'|trans) }}
    </div>
{% endblock %}