{% extends "::layout.html.twig" %}

{% block title %}
    <a href="{{ path('machine') }}"> 
        <span class="icon" data-icon="&#x29;" title="{{ 'machine.back'|trans }}"></span>
    </a>
    
    {{ 'machine.machine'|trans }}
{% endblock %}

{% block content %}
    <legend>{{ 'machine.machine'|trans }}</legend>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'machine.id'|trans }}</th>
                <th>{{ 'machine.privateIp'|trans }}</th>
                <th>{{ 'machine.publicIp'|trans }}</th>
                <th>{{ 'machine.port'|trans }}</th>
                <th>{{ 'machine.user'|trans }}</th>
                <th>{{ 'machine.home'|trans }}</th>
                <th>{{ 'machine.genPrivKey'|trans }}</th>
            </tr>  
        </thead>   
        <tbody>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.privateIp }}</td>
                <td>{{ entity.publicIp }}</td>
                <td>{{ entity.port }}</td> 
                <td>{{ entity.user }}</td>
                <td>{{ entity.home }}</td>                
                <td>{% if entity.privateKeyFilename|length > 0 %}
                        {{ 'machine.yes'|trans }}
                    {% else %}
                        {{ 'machine.no'|trans }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <form action="{{ path('machine_edit', { 'id': entity.id }) }}" method="post">          
        <div class="form-actions">
            <button type="submit"  class="btn btn-primary">{{ 'machine.edit'|trans }}</button>
        </div>
    </form>
{% endblock %}