{#
 Copyright (C) 2010-2013 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as sylius_buttons %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_machine_index'), 'machine.machine'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'machine.machine'|trans }}</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'machine.id'|trans }}</th>
                <th>{{ 'machine.privateIp'|trans }}</th>
                <th>{{ 'machine.publicIp'|trans }}</th>
                <th>{{ 'machine.port'|trans }}</th>
                <th>{{ 'machine.user'|trans }}</th>
                <th>{{ 'machine.home'|trans }}</th>
                <th>{{ 'machine.genPrivKey'|trans }}</th>
                <th>{{ 'machine.nbCore'|trans }}</th>
                <th>{{ 'machine.is64BitSystem'|trans }}</th>
            </tr>  
        </thead>   
        <tbody>
            <tr>
                <td>{{ machine.id }}</td>
                <td>{{ machine.privateIp }}</td>
                <td>{{ machine.publicIp }}</td>
                <td>{{ machine.port }}</td> 
                <td>{{ machine.user }}</td>
                <td>{{ machine.home }}</td>                
                <td>{% if machine.privateKeyFilename|length > 0 %}
                        {{ 'machine.yes'|trans }}
                    {% else %}
                        {{ 'machine.no'|trans }}
                    {% endif %}
                </td>
                <td>{{ machine.nbCore }}</td>
                <td>{% if machine.is64Bit == true %}
                        {{ 'machine.yes'|trans }}
                    {% else %}
                        {{ 'machine.no'|trans }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-group clearfix">
        {{ sylius_buttons.edit(path('dedipanel_machine_update', {'id': machine.id})) }}
        {{ sylius_buttons.delete(path('dedipanel_machine_delete', {'id': machine.id})) }}
        {{ sylius_buttons.manage(path('dedipanel_machine_connection_test', {'id': machine.id}), 'machine.connection_test'|trans) }}
    </div>
{% endblock %}