{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-online.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_machine_show', {'id': machine.id}), 'machine.title.machine'|trans) }}
{% endblock %}

{% block body %}
    <h2>{{ 'machine.title.edit'|trans }}</h2>

    <form id="form-update" action="{{ path('dedipanel_machine_update', { 'id': machine.id }) }}" method="post" class="form-edit">    
        {{ form_widget(form) }}
    </form>
    
    <div class="form-group clearfix">
        {{ dedipanel_actions.update(path('dedipanel_machine_show', {'id': machine.id}), null, 'ROLE_DP_ADMIN_MACHINE_SHOW', machine) }}
        {{ dedipanel_buttons.delete(path('dedipanel_machine_delete', {'id': machine.id}), null, false, true, 'ROLE_DP_ADMIN_MACHINE_DELETE', machine) }}
    </div>         
{% endblock %}
