{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% set sid = server.id %}

<div class="actions clearfix">
    {% if is_granted('ROLE_DP_GAME_STEAM_STATE') %}
        {% if online %}
            <a href="{{ path('dedipanel_steam_change_state', { 'id': sid, 'state': 'stop' }) }}">
                <span class="icon icon-stop" title="{{ 'game.stop'|trans }}"></span>
            </a>
            
            <a href="{{ path('dedipanel_steam_change_state', { 'id': sid, 'state': 'restart' }) }}">
                <span class="icon icon-start" title="{{ 'game.restart'|trans }}"></span>
            </a>
        {% else %}
            <a href="{{ path('dedipanel_steam_change_state', { 'id': sid, 'state': 'start' }) }}">
                <span class="icon icon-uni22" title="{{ 'game.start'|trans }}"></span>
            </a>
        {% endif %}
    {% endif %}
    
    {% if is_granted('ROLE_DP_GAME_STEAM_UPDATE') %}
        <a href="{{ path('dedipanel_steam_update', {id: sid}) }}">
            <span class="icon icon-uni25" title="{{ 'game.edit'|trans }}"></span>
        </a>
    {% endif %}
    
    {% if is_granted('ROLE_DP_GAME_STEAM_PLUGIN') %}
        <a href="{{ path('dedipanel_steam_plugin', {id: sid}) }}">
            <span class="icon icon-config" title="{{ 'game.plugin.title'|trans }}"></span>
        </a>
    {% endif %}
    
    {# {% if is_granted('ROLE_DP_GAME_STEAM_HLTV') %}
        {% if online == true and server.game.source == true %}
            # <a href="{{ path('steam_hltv_show', {id: sid}) }}">
                <span class="icon icon-camera" title="{{ 'steam.hltv.title'|trans }}"></span>
            </a> #
        {% endif %}
    {% endif %} #}
    
    {% if is_granted('ROLE_DP_GAME_STEAM_FTP') %}    
        <a href="{{ path('dedipanel_steam_ftp_show', {id: sid}) }}">
            <span class="icon icon-ftp" title="{{ 'game.ftp.title'|trans }}"></span>
        </a>
    {% endif %}
    
    {% if is_granted('ROLE_DP_GAME_STEAM_RCON') and online %}
        <a href="{{ path('dedipanel_steam_rcon', {id: sid}) }}">
            <span class="icon icon-code" title="{{ 'game.rcon.title'|trans }}"></span>
        </a>
    {% endif %}
    
    {% if show and online %}
        <a href="{{ path('dedipanel_steam_show', {id: sid}) }}" class="slide">
            <span class="icon icon-option" title="{{ 'steam.show'|trans }}"></span>
        </a>
    {% endif %}
</div>
