{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout.html.twig" %}

{% import '::actions.html.twig' as dedipanel_actions %}
{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/dpgameserver/js/csgo-mod.js') }}"></script>
{% endblock %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_steam_index'), 'steam.add'|trans) }}
{% endblock %}
        
{% block content %}
    <h2>{{ 'steam.add'|trans }}</h2>

    <form action="{{ path('dedipanel_steam_create') }}" method="post" {{ form_enctype(form) }} id="form-create">
        {{ form_row(form.name) }}
        {{ form_row(form.machine) }}
        {{ form_row(form.dir) }}
        {{ form_row(form.port) }}
        {{ form_row(form.game) }}
        {% if form.mode is defined %}
            {{ form_row(form.mode) }}
        {% endif %}
        {{ form_row(form.maxplayers) }}
        {{ form_row(form.svPassword) }}
        {{ form_row(form.rconPassword) }}
        {{ form_row(form.alreadyInstalled) }}

        {{ form_widget(form) }}

        {{ dedipanel_actions.create() }}
    </form>
{% endblock %}