{% extends "::layout.html.twig" %}
{% block title %}{{ 'steam.editTitle'|trans }}{% endblock %}
{% block content %}

    <form action="{{ path('steam_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
       <fieldset id="details-right">	
            {{ form_widget(edit_form) }}
            <p>                  
                <input type="submit" value="{{ 'steam.edit'|trans }}" name="submit" class="submit">
            </p>           
            <form action="{{ path('steam_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <input type="submit" value="{{ 'steam.del'|trans }}" name="submit" class="submit">
            </form>
        </fieldset>
    </form>
{% endblock %}