{#
    (c) Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block bundleStylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/dpgameserver/css/game.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/sonatajquery/themes/base/jquery.ui.theme.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/sonatajquery/themes/base/jquery.ui.progressbar.css') }}" />
{% endblock %}
    
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/dpgameserver/js/details.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dpgameserver/js/progress.js') }}"></script>
{% endblock %}

{% block title %}
    {{ dedipanel_buttons.back(path('_welcome'), 'steam.title.steam'|trans) }}
{% endblock %}

{% block content %}
    <h2>{{ 'steam.title.index'|trans }}</h2>
    
    {% if is_granted('ROLE_DP_GAME_STEAM_CREATE') %}
        <ul id="top-nav" class="nav nav-tabs">
            <li>
                {{ dedipanel_buttons.create(path('dedipanel_steam_create'), 'steam.add'|trans) }}
            </li>
        </ul>
    {% endif %}

    {{ dedipanel_flashes.all() }}
    
    <div id="steam" class="server-list">
        {% for entity in steams %}
            <div class="server-item clearfix">
                {% if not entity.isInstallationEnded %}
                    <div class="principal clearfix">
                        <div class="game-image">
                            {% set gameImg = entity.game.installname %}
                            {% if gameImg == 'Counter-Strike Source' %}
                                {% set gameImg = 'css' %}
                            {% endif %}

                            <a href="{{ path('dedipanel_steam_show', {'id': entity.id }) }}">
                                <img src="{{ asset('images/serveur/viewer/' ~ gameImg ~ '.png') }}" alt="{{ entity.game }}" />
                            </a>
                        </div>

                        <div class="infos">
                            <div class="titre">
                                <a href="{{ path('dedipanel_steam_show', {id: entity.id}) }}">{{ entity.name }}</a>
                            </div>

                            <div class="description">
                                <span class="address">
                                    {{ entity.machine.publicIp }}:{{ entity.port }}
                                </span>
                                
                                {% if not is_granted('ROLE_DP_GAME_STEAM_UPDATE') %}
                                    <span class="install-in-progress">
                                        {{ 'game.installation_in_progress'|trans }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        
                        {% if is_granted('ROLE_DP_GAME_STEAM_CREATE') or is_granted('ROLE_DP_GAME_STEAM_UPDATE') %}
                            <div class="installation">
                                <div class="row">
                                    <div class="span">
                                        <div class="update-status">
                                            <span class="icon-spam" alt="{{ 'game.update_status'|trans }}"></span>
                                            <a href="{{ path('dedipanel_steam_install', {id: entity.id }) }}">{{ 'game.update_status'|trans }}</a>
                                        </div>
                                    </div>
                                    <div class="span4">  
                                        <div id="installation-progress" class="progress" value="{{ entity.installationStatus }}"></div>
                                    </div>
                                </div>

                                {# <div class="progress progress-info progress-striped">
                                    <div class="bar" style="width: {{ entity.installationStatus }}%"></div>
    
                                    {{ entity.installationStatus }} %
                                </div> #}
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    {% set banned = (entity.query.isBanned(true) == true) %}                    
                    {% set online = (entity.query.latency != false) %}

                    <div class="principal clearfix">
                        <div class="game-image">
                            {% set gameImg = entity.game.installname %}
                            {% if gameImg == 'Counter-Strike Source' %}
                                {% set gameImg = 'css' %}
                            {% endif %}

                            <a href="{{ path('dedipanel_steam_show', {'id': entity.id }) }}">
                                <img src="{{ asset('images/serveur/viewer/' ~ gameImg ~ '.png') }}" alt="{{ entity.game }}" />
                            </a>
                        </div>

                        <div class="infos">
                            <div class="titre">
                                <a href="{{ path('dedipanel_steam_show', {id: entity.id}) }}">{{ entity.name }}</a>
                            </div>

                            <div class="description">
                                <span class="address">{{ entity.machine.publicIp }}:{{ entity.port }}</span>

                                {% if online %}
                                    <br />

                                    <span class="map">
                                        {{ 'game.map'|trans({'%map%': entity.query.serverInfos['map']}) }}
                                    </span>
                                    <span class="players">
                                        {{ entity.query.serverInfos['players'] }} / 
                                        {{ entity.query.serverInfos['maxPlayers'] }}
                                    </span>
                                {% elseif banned %}
                                        <span class="banned">{{ 'game.banned'|trans }}</span>
                                {% else %}
                                        <span class="offline">{{ 'game.offline'|trans }}</span>
                                {% endif %}
                            </div>
                        </div>
                        
                        {% if entity.isInstallationEnded %}
                            {% include 'DPSteamServerBundle:SteamServer:actionBar.html.twig' with {show: true, online: online, server: entity} %}
                        {% endif %}
                    </div>

                    <div class="details clearfix">
                        {% if online %}
                            <div class="map-image">
                                {% if entity.game.sourceImageMaps is defined %}
                                    <img src="{{ entity.game.sourceImagesMaps }}{{ entity.query.serverInfos['map'] }}.jpg" alt="{{ entity.query.serverInfos['map'] }}" />
                                {% endif %}                            
                            </div>
                            <div class="players">
                                <table class="table table-hover players">
                                    <thead>
                                        <tr>
                                            <th>{{ 'game.player'|trans }}</th>
                                            <th>{{ 'game.score'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for player in entity.query.players %}
                                            <tr>
                                                <td>{{ player.nom }}</td>
                                                <td>{{ player.score }}</td>
                                            </tr>
                                        {% else %}
                                            <tr><th colspan="2" class="empty">
                                                {{ 'game.noPlayerConnected'|trans }}
                                            </th></tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
