{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::layout.html.twig" %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/dpgameserver/js/details.js') }}"></script>
{% endblock %}
    
{% block title %}
    {{ 'steam.title'|trans }}
    
    <nav id="tabs" class="nav nav-tabs steam">
        <a href="{{ path('steam_new') }}">
            {{ 'steam.add'|trans }}
        </a>
    </nav>
{% endblock %}
    
{% block content %}
 
<div id="steam" class="server-list">
    {% for entity in entities %}
        {% if entity.getInstallationStatus < 101 %}
            <div class="row server-item" rel="{{ entity.id }}">
                <div class="span2">
                    {% set gameImg = entity.game.installname %}
                    {% if gameImg == 'Counter-Strike Source' %}
                        {% set gameImg = 'css' %}
                    {% endif %}
                    <a href="{{ path('steam_show', {'id': entity.id }) }}">
                        <img src="/images/serveur/viewer/{{ gameImg }}.png" alt="{{ entity.game }}" />
                    </a>
                </div>
                <div class="span3">
                    <div class="titre">
                        <a href="{{ path('steam_show', {id: entity.id}) }}">{{ entity.name }}</a>
                    </div>
                    <div class="description">
                        {{ entity.machine.publicIp }}:{{ entity.port }}

                    </div>
                </div>
                <div class="span4">
                    <div class="installation-status">
                        <img src="/images/icones/serveur/install.png" alt="{{ 'game.updateStatus'|trans }}" />
                        <span class="installation">
                            <strong>
                                    <a href="{{ path('steam_install', {id: entity.id }) }}">{{ 'game.updateStatus'|trans }}</a>
                            </strong>
                        </span>
                    </div>
                </div>
                <div class="span5">
                    <div class="progress progress-info progress-striped">
                        <div class="bar" style="width: {{ entity.installationStatus }}%"></div>
                        {{ entity.installationStatus }} %
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row server-item" rel="{{ entity.id }}">
                <div class="visuel">
                    {% set gameImg = entity.game.installname %}
                    {% if gameImg == 'Counter-Strike Source' %}
                        {% set gameImg = 'css' %}
                    {% endif %}
                    <a href="{{ path('steam_show', {'id': entity.id }) }}">
                        <img src="/images/serveur/viewer/{{ gameImg }}.png" alt="{{ entity.game }}" />
                    </a>
                </div>
                    
                <div class="server-infos">
                    <div class="titre">
                        <a href="{{ path('steam_show', {id: entity.id}) }}">{{ entity.name }}</a>
                    </div>

                    <div class="description">
                            {{ entity.machine.publicIp }}:{{ entity.port }}

                            {% set banned = (entity.query.isBanned(true) == true) %}                    
                            {% set online = (entity.query.latency != false) %}
                            {% if online %}
                                    <span class="info">
                                        {{ entity.query.serverInfos['map'] }}
                                    </span>
                                    <span class="info">
                                        <strong>
                                                {{ entity.query.serverInfos['players'] }} / 
                                                {{ entity.query.serverInfos['maxPlayers'] }}
                                        </strong>
                                    </span>
                            {% elseif banned %}
                                    <span class="info"><strong>{{ 'game.banned'|trans }}</strong></span>
                            {% else %}
                                    <span class="info"><strong>{{ 'game.offline'|trans }}</strong></span>
                            {% endif %}				
                    </div>
                </div>  
                
                <div class="actions">
                    {% if online %}
                        <a href="{{ path('steam_changeState', { 'id': entity.id, 'state': 'stop' }) }}"><img class="stop-image" src="/images/icones/serveur/stop.png" title="{{ 'steam.stop'|trans }}"/></a>
                        <a href="{{ path('steam_changeState', { 'id': entity.id, 'state': 'restart' }) }}"><img src="/images/icones/serveur/restart.png" title="{{ 'steam.restart'|trans }}"/></a>
                    {% else %}
                        <a href="{{ path('steam_changeState', { 'id': entity.id, 'state': 'start' }) }}"><img class="start-image" src="/images/icones/serveur/start.png" title="{{ 'steam.start'|trans }}"/></a>
                    {% endif %}

                    <a href="{{ path('steam_edit', {id: entity.id }) }}"><img src="/images/icones/serveur/config.png" title="{{ 'game.edit'|trans }}" /></a>
                    <a href="{{ path('steam_plugin_show', {id: entity.id }) }}"><img src="/images/icones/serveur/plugins.png" title="{{ 'game.plugin.title'|trans }}" /></a>
                    <a href="{{ path('steam_show', {id: entity.id}) }}" class="slide" id="slide-toggler-{{ entity.id }}"><img src="/images/icones/serveur/slide.png" title="Slide"/></a>
                    {# <a href="{{ path('steam_show', {id: entity.id}) }}" class="slide" id="steam-{{ entity.id }}"><img src="/images/icones/serveur/stats.png" title="Statistiques"/></a> #}
                </div>
            </div>
            
            <div class="details" rel="{{ entity.id }}">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#lA" data-toggle="tab">Général</a></li>
                        <li class=""><a href="#lB" data-toggle="tab">CFG</a></li>
                        <li class=""><a href="#lC" data-toggle="tab">HLTV</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="lA"> 
                            {% if online %}
                                <div class="row description-general">
                                    <div class="span3 offset4">
                                        {% if entity.game.sourceImageMaps is defined %}
                                            <img src="{{ entity.game.sourceImagesMaps }}{{ entity.query.serverInfos['map'] }}.jpg" alt="{{ entity.query.serverInfos['map'] }}" />
                                        {% else %}
                                            <img src="{{ entity.game.sourceImagesMaps }}de_dust2.jpg" />
                                        {% endif %}                            
                                    </div>
                                    <div class="span4">
                                        <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Joueur</th>
                                                <th>Score</th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                                {% for player in entity.query.players %}
                                                    <tr>
                                                        <td>{{ player.nom }}</td>
                                                        <td>{{ player.score }}</td>
                                                    </tr>
                                                {% else %}
                                                    <tr><th colspan="2">{{ 'game.noPlayerConnected'|trans }}</th></tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row description-general">
                                    <div class="span12">
                                        Lancé le Serveur pour avoir des stats ?
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="tab-pane" id="lB">
                            <p>CFG</p>
                        </div>
                        <div class="tab-pane" id="lC">
                            <p>HLTV</p>
                        </div>
                    </div>
                </div>
            </div> 
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
