{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::layout.html.twig" %}

{% block title %}{{ 'steam.list'|trans }}{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/dpsteamserver/js/details.js') }}"></script>
{% endblock %}

{% block selectVm %}
    {# <div id="select-vm"><form method="post" action="">

        <select name="vm-selection">
            <option value="Serveur1">Serveur 1</option>
            <option value="Serveur2">Serveur 2</option>
            <option value="Serveur3">Serveur 3</option>
            <option value="Serveur4">Serveur 4</option>					
        </select>
    </form></div> #}
{% endblock %}

{% block content %}
    <ul>
        <li>
            <a href="{{ path('steam_new') }}">
                {{ 'steam.add'|trans }}
            </a>
        </li>
    </ul>
    
    {% for entity in entities %}
        <div class="steam-server" id="steam-{{ entity.id }}">
            <div class="summary">
                <div class="infos">
                    {% set gameImg = entity.game.installname %}
                    {% if gameImg == 'Counter-Strike Source' %}
                        {% set gameImg = 'css' %}
                    {% endif %}
                    
                    <img src="/images/serveur/viewer/{{ gameImg }}.png" />
                    <p>
                        <b><a href="{{ path('steam_show', {id: entity.id}) }}">{{ entity.name }}</a></b><br />
                        {{ entity.machine.publicIp }}:{{ entity.port }}
                    </p>
                </div>

                {% set online = (entity.query.latency != false) %}
                {% if online %}
                    <p class="infomap">{{ entity.query.serverInfos['map'] }}</p>
                    <p class="infoplayer">
                        {{ entity.query.serverInfos['players'] }} / 
                        {{ entity.query.serverInfos['maxplayers'] }}
                    </p>
                {% else %}
                    <p class="infomap">{{ 'steam.offline'|trans }}</p>
                {% endif %}

                <div class="actions">
                    {% if online %}
                        <a href="{{ path('steam_changeState', { 'id': entity.id, 'state': 'stop' }) }}">
                            <img src="/images/icones/serveur/stop.png" title="{{ 'steam.stop'|trans }}"/>
                        </a>
                        <a href="{{ path('steam_changeState', { 'id': entity.id, 'state': 'restart' }) }}">
                            <img src="/images/icones/serveur/stop.png" title="{{ 'steam.restart'|trans }}"/>
                        </a>
                    {% else %}
                        <a href="{{ path('steam_changeState', { 'id': entity.id, 'state': 'start' }) }}">
                            <img src="/images/icones/serveur/start.png" title="{{ 'steam.start'|trans }}"/>
                        </a>
                    {% endif %}
                    
                    <a href="{{ path('steam_edit', { 'id': entity.id }) }}">
                        <img src="/images/icones/serveur/config.png" title="{{ 'steam.edit'|trans }}" />
                    </a>
                    <a href="{{ path('steam_show', {id: entity.id}) }}" class="slide" id="steam-{{ entity.id }}">
                        <img src="/images/icones/serveur/bfleche.png" title="Slide"/>
                    </a>
                    <a href="#">
                        <img src="/images/icones/serveur/ftp.png" title="{{ 'steam.pluginsAction'|trans }}" />
                    </a>
                </div>

                <div class="clear"></div>
            </div>

            <div class="details" id="steam-{{ entity.id }}">
                <p>
                    {% if online %}
                        <img src="{{ entity.game.sourceImagesMaps }}{{ entity.query.serverInfos['map'] }}.jpg" alt="{{ entity.query.serverInfos['map'] }}" />
                    {% else %}
                    {% endif %}
                </p>

                <table class="players-list">
                    <thead>
                        <tr>
                            <th>Joueur</th>
                            <th>Score</th>
                        </tr>
                    </thead>

                    <tbody>{% for player in entity.query.players %}
                        <tr>
                            <td>{{ player.nom }}</td>
                            <td>{{ player.score }}</td>
                        </tr>
                    {% endfor %}</tbody>
                </table>

                <div class="actions">
                    <a href="#">
                        <img src="../images/icones/serveur/icone-hltv.png" title="HLTV"/>
                    </a>
                    <a href="#">
                        <img src="../images/icones/serveur/icone-rcon.png" title="Rcon"/>
                    </a>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
