{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-online.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block bundleStylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/dpgameserver/css/game.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/dpgameserver/js/logs.js') }}"></script>
{% endblock %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_steam_index'), 'steam.title.steam'|trans) }}
{% endblock %}

{% block content %}
    <form id="logs-form">
        <textarea>{{ logs }}</textarea>
    </form>
    
    <div class="form-group">
        {{ dedipanel_buttons.generic(path('dedipanel_steam_index'), 'sylius.back'|trans, 'icon-cross') }}
    </div>
{% endblock %}