{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::layout.html.twig" %}

{% block title %}
    <a href="{{ path('steam') }}">
        <span class="icone">h</span>
    </a>
    
    {{ 'steam.add'|trans }}
{% endblock %}

{% block content %}
    <form action="{{ path('steam_create') }}" method="post" {{ form_enctype(form) }}>
       <fieldset id="validation">	
            {{ form_widget(form) }}
            <div>
                <label for="isAlreadyInstalled" class="required">{{ 'steam.isAlreadyInstalled'|trans }}</label>
                <input type="radio" name="install" value="0"/> {{ 'steam.yes'|trans }} 
                <input type="radio" name="install" value="1" checked="checked" /> {{ 'steam.no'|trans }}
            </div>
           
            <div class="form-actions">
                <button type="submit"  class="btn btn-primary">{{ 'steam.addButton'|trans }}</button>
            </div>
        </fieldset>	
    </form>
{% endblock %}