{#
 # This file is part of Dedipanel project
 #
 # (c) 2010-2015 Dedipanel <http://www.dedicated-panel.net>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "::layout-online.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}
{% import '::flash_messages.html.twig' as dedipanel_flashes %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_steam_index'), 'steam.title.steam'|trans) }}
{% endblock %}

{% block body %}
    <h2>{{ 'game.plugin.showTitle'|trans }}</h2>

    {{ dedipanel_flashes.all() }}

    <table class="table table-striped game-list">
        <thead>
            <tr>
                <th>{{ 'game.plugin.name'|trans }}</th>
                <th>{{ 'game.plugin.status'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for plugin in steam.installedPlugins %}
                <tr>
                    <th>{{ plugin.name }}</th>
                    <td><a href="{{ path('dedipanel_steam_plugin_uninstall', {'id': steam.id, 'plugin': plugin.id}) }}">
                            {{ dedipanel_buttons.yes_no(true) }}
                    </a></td>
                </tr>
            {% endfor %}
    
            {% for plugin in steam.notInstalledPlugins %}
                <tr>
                    <th>{{ plugin.name }}</th>
                    <td><a href="{{ path('dedipanel_steam_plugin_install', {'id': steam.id, 'plugin': plugin.id}) }}">
                        {{ dedipanel_buttons.yes_no(false) }}
                    </a></td>
                </tr>
            {% endfor %}
    
            {% if steam.installedPlugins is empty and steam.notInstalledPlugins is empty %}
                <tr><th colspan="2">{{ 'game.plugin.noPluginForThatGame'|trans }}</th></tr>
            {% endif %}            
        </tbody>
    </table>
{% endblock %}