{#
    (c) 2010-2014 Dedipanel <http://www.dedicated-panel.net>
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends "::layout.html.twig" %}

{% import '::buttons.html.twig' as dedipanel_buttons %}

{% block bundleStylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/dpgameserver/css/game.css') }}" />
{% endblock %}

{% block title %}
    {{ dedipanel_buttons.back(path('dedipanel_steam_index'), 'steam.title.steam'|trans) }}
{% endblock %}

{% macro install_status(steam) %}
    {% spaceless %}
        {% if steam.installationStatus is null %}
            Buggued
        {% elseif steam.isInstallationEnded %}
            {{ 'game.installation_ended'|trans }}
        {% else %}
            {{ steam.installationStatus }}%
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% block content %}
    {% set online = (steam.query.latency != false) %}

    <div class="serveur-header-bg">
        <div class="serveur-header-texture">
            <div class="serveur-header">
                <div class="serveur-header-content">
                    <div class="serveur-header-image">
                        {% if online %}
                            <img src="{{ steam.game.sourceImagesMaps }}{{ steam.query.serverInfos['map'] }}.jpg" alt="{{ steam.query.serverInfos['map'] }}" />
                        {% else %}
                            <img class="offline" src=" {{ asset('images/serveur/viewer/offline.jpg') }}"/>
                        {% endif %}
                    </div>
                    
                    <div class="serveur-header-info">
                        <div class="serveur-header-name">
                            {% if is_granted('ROLE_DP_GAME_STEAM_ADMIN') %}
                                <ul>
                                    {% if steam.isInstallationEnded %}
                                        <li>
                                            <a href="{{ path('dedipanel_steam_regen', { 'id': steam.id }) }}">
                                                {{ 'game.regenerate'|trans }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    
                                    <li>
                                        <a href="{{ path('dedipanel_steam_logs', { 'id': steam.id}) }}">
                                            {{ 'game.showLog'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                        
                        <div class="serveur-header-map">
                            <div class="serveur-header-player">
                              {% if online %}  
                                {{ steam.query.serverInfos['players'] }} / 
                                {{ steam.query.serverInfos['maxPlayers'] }} 
                            {% endif %}
                            </div>
                        </div>
                        
                        {% if steam.isInstallationEnded %}
                            <div class="serveur-header-actionbar">
                                {% include 'DPSteamServerBundle:SteamServer:actionBar.html.twig' with {show: true, online: online, server: steam} %}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="serveur-header-summary">
                        <div class="serveur-header-name">
                            <a href="{{ path('dedipanel_steam_show', {id: steam.id}) }}">{{ steam.name }}</a>
                        </div>
                        
                        <div class="serveur-header-map">
                            {% if steam.isInstallationEnded %}
                                {% if online %}  
                                    {{ 'game.map'|trans({'%map%': steam.query.serverInfos['map']}) }}
                                {% else %}
                                    <div class="offline">
                                        {{ 'game.offline'|trans }}
                                    </div>
                                {% endif %}                            
                            {% else %}
                                <div class="offline">
                                    {{ 'game.installation_in_progress'|trans }}
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="profile_summary">
                          <table class="table-condensed">
                            <tbody>
                                <tr>
                                    <th>{{ 'game.IPAddress'|trans }}</th>
                                    <td>{{ steam.machine.publicIp }}:{{ steam.port }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'game.game'|trans }}</th>
                                    <td>{{ steam.game }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'game.installStatus'|trans }}</th>
                                    <td>
                                        {% if is_granted('ROLE_DP_GAME_STEAM_UPDATE') %}
                                            <a href="{{ path('dedipanel_steam_install', { 'id': steam.id }) }}">
                                                {{ _self.install_status(steam) }}
                                            </a>
                                        {% else %}
                                            {{ _self.install_status(steam) }}
                                        {% endif %}
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="serveur-content">
        <div class="serveur-players">
            <table class="table table-hover players">
                <thead>
                    <tr>
                        <th>{{ 'game.player'|trans }}</th>
                        <th>{{ 'game.score'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% if online %}
                        {% for player in steam.query.players %}
                            <tr>
                                <td>{{ player.nom }}</td>
                                <td>{{ player.score }}</td>
                            </tr>
                        {% else %}
                            <tr><th colspan="2" class="empty">
                                {{ 'game.noPlayerConnected'|trans }}
                            </th></tr>
                        {% endfor %}
                    {% else %}
                        <tr><th colspan="2" class="empty">
                        {{ 'game.serveurOffline'|trans }}
                        </th></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="form-group clearfix">
        {{ dedipanel_buttons.edit(path('dedipanel_steam_update', {'id': steam.id}), null, 'ROLE_DP_GAME_STEAM_UPDATE', steam) }}
        {{ dedipanel_buttons.delete(path('dedipanel_steam_delete', {'id': steam.id}), null, 'ROLE_DP_GAME_STEAM_DELETE', steam) }}
        {{ dedipanel_buttons.delete(path('dedipanel_steam_delete', {'id': steam.id, 'fromMachine': true}), 'dedipanel.full_delete'|trans, 'ROLE_DP_GAME_STEAM_DELETE', steam) }}
    </div>
{% endblock %}
