{% extends "::layout.html.twig" %}
{% block content %}
    <h1>SteamServer</h1>

    <ul class="record_actions">
        <li>
            <a href="{{ path('steam') }}">
                {{ 'steam.back'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('steam_edit', { 'id': entity.id }) }}">
                {{ 'steam.edit'|trans }}
            </a>
        </li>
        <li>
            <form action="{{ path('steam_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">{{ 'steam.del'|trans }}</button>
            </form>
        </li>
    </ul>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'steam.id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'steam.IPAddress'|trans }}</th>
                <td>{{ entity.machine.publicIp }}:{{ entity.port }}</td>
            </tr>
            <tr>
                <th>{{ 'steam.name'|trans }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'steam.game'|trans }}</th>
                <td>{{ entity.game }}</td>
            </tr>
            <tr>
                <th>{{ 'steam.installStatus'|trans }}</th>
                <td>{{ entity.installationStatus }}</td>
            </tr>
            <tr>
                <th>{{ 'steam.dir'|trans }}</th>
                <td>{{ entity.dir }}</td>
            </tr>
            <tr>
                <th>{{ 'steam.maxplayers'|trans }}</th>
                <td>{{ entity.maxplayers }}</td>
            </tr>
            <tr>
                <th>{{ 'steam.autoReboot'|trans }}</th>
                <td>{{ entity.autoReboot }}</td>
            </tr>
            <tr>
                <th>{{ 'steam.rcon'|trans }}</th>
                <td>{{ entity.rcon }}</td>
            </tr>
            <tr>
                <th>{{ 'steam.munin'|trans }}</th>
                <td>{{ entity.munin }}</td>
            </tr>
            <tr>
                <th>{{ 'steam.passwd'|trans }}</th>
                <td>{{ entity.svpasswd }}</td>
            </tr>
            <tr>
                <th>{{ 'steam.core'|trans }}</th>
                <td>{{ entity.core }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}