{# 
 Copyright (C) 2010-2013 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::layout.html.twig" %}

{% block bundleStylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/dpgameserver/css/game.css') }}" />
{% endblock %}

{% block title %}
<a href="{{ path('steam') }}"> 
    <span class="icon" data-icon="&#x29;" title="{{ 'steam.back'|trans }}"></span>
</a>

    {{ 'steam.title'|trans }}
{% endblock %}

{% block content %}
    
    {% set online = (entity.query.latency != false) %}

    <div class="serveur-header-bg">
        <div class="serveur-header-texture">
            <div class="serveur-header">
                <div class="serveur-header-content">
                    <div class="serveur-header-image">
                        {% if online %}
                            <img src="{{ entity.game.sourceImagesMaps }}{{ entity.query.serverInfos['map'] }}.jpg" alt="{{ entity.query.serverInfos['map'] }}" />
                        {% else %}
                            <img class="offline" src=" {{ asset('images/serveur/viewer/offline.jpg') }}"/>
                        {% endif %}
                    </div>
                    <div class="serveur-header-info">
                            <div class="serveur-header-name">
                                 {% if entity.getInstallationStatus == 101 %}
                                        <ul>
                                            <li>
                                                <a href="{{ path('steam_regen', { 'id': entity.id }) }}">
                                                    {{ 'game.regenerate'|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('steam_screen_log', { 'id': entity.id}) }}">
                                                    {{ 'game.showLog'|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    {% endif %}
                            </div>
                        </a>
                        <div class="serveur-header-map">
                            <div class="serveur-header-player">
                              {% if online %}  
                                {{ entity.query.serverInfos['players'] }} / 
                                {{ entity.query.serverInfos['maxPlayers'] }} 
                            {% endif %}
                            </div>
                        </div>
                        
                    	<div class="serveur-header-actionbar">
                        	{% include 'DPSteamServerBundle:SteamServer:actionBar.html.twig' with {show: true, online: online, server: entity} %}
						</div>
                    </div>

                    <div class="serveur-header-summary">
                        <div class="serveur-header-name">
                            <a href="{{ path('steam_show', {id: entity.id}) }}">{{ entity.name }}</a>
                        </div>
                        <div class="serveur-header-map">
                        {% if online %}  
                            {{ 'game.map'|trans({'%map%': entity.query.serverInfos['map']}) }}
                        {% else %}
                            <div class="offline">
                                {{ 'game.offline'|trans }}
                            </div>
                        {% endif %}                            
                        </div>
                        <div class="profile_summary">
                          <table class="table-condensed">
                            <tbody>
                                <tr>
                                    <th>{{ 'game.IPAddress'|trans }}</th>
                                    <td>{{ entity.machine.publicIp }}:{{ entity.port }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'game.game'|trans }}</th>
                                    <td>{{ entity.game }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'game.installStatus'|trans }}</th>
                                    <td>
                                        <a href="{{ path('steam_install', { 'id': entity.id }) }}">
                                            {% spaceless %}
                                                {% if entity.installationStatus is null %}
                                                    Buggued
                                                {% elseif entity.installationStatus == 101 %}
                                                    {{ 'game.installEnded'|trans }}
                                                {% else %}
                                                    {{ entity.installationStatus }}%
                                                {% endif %}
                                            {% endspaceless %}
                                        </a>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>					
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="serveur-content">
        <div class="serveur-players">
                <table class="table table-hover players">
                    <thead>
                        <tr>
                            <th>{{ 'game.player'|trans }}</th>
                            <th>{{ 'game.score'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if online %} 
                            {% for player in entity.query.players %}
                                <tr>
                                    <td>{{ player.nom }}</td>
                                    <td>{{ player.score }}</td>
                                </tr>
                            {% else %}
                                <tr><th colspan="2" class="empty">
                                    {{ 'game.noPlayerConnected'|trans }}
                                </th></tr>
                            {% endfor %}
                        {% else %}
                            <tr><th colspan="2" class="empty">
                            {{ 'game.serveurOffline'|trans }}
                            </th></tr>                 
                        {% endif %}                
                    </tbody>
                </table>
            </div>
            <div class="serveur-info-summary">
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr>
                            <th>{{ 'game.id'|trans }}</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'game.dir'|trans }}</th>
                            <td>{{ entity.dir }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'steam.autoReboot'|trans }}</th>
                            <td>
                                {% if entity.rebootAt is not empty %}
                                    {{ entity.rebootAt|date('H:i') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'game.rcon.password'|trans }}</th>
                            <td>{{ entity.rconPassword }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'steam.hltv.port'|trans }}</th>
                            <td>{{ entity.hltvPort }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'steam.munin'|trans }}</th>
                            <td>{{ entity.munin }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'steam.svPassword'|trans }}</th>
                            <td>{{ entity.svPassword }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'steam.core'|trans }}</th>
                            <td>{{ entity.core }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group clearfix">
            <form action="{{ path('steam_edit', { 'id': entity.id }) }}" method="post" class="form-edit">          
                <div class="form-actions">
                    <button type="submit"  class="btn btn-primary">{{ 'game.edit'|trans }}</button>
                </div>
            </form>

            <form action="{{ path('steam_delete', { 'id': entity.id }) }}" method="post" class="form-delete">
            {{ form_widget(delete_form) }}

                <button type="submit"  class="btn btn-danger">{{ 'game.del'|trans }}</button>
            </form>

            <form action="{{ path('steam_delete', { 'id': entity.id, fromMachine: true }) }}" method="post" class="form-delete">
            {{ form_widget(delete_all_form) }}

                    <button type="submit"  class="btn btn-danger">{{ 'game.delAll'|trans }}</button>
            </form> 
        </div>
{% endblock %}