{% extends '::layout-online.html.twig' %}

{% block title %}
    {{ 'game.list'|trans }}
{% endblock %}

{% block topActions %}
{% endblock %}

{% block body -%}
    <h2>{{ 'game.list'|trans }}</h2>
    
    <ul id="top-nav" class="nav nav-tabs">
        <li>
            <a href="{{ path('game_admin_new') }}">
                {{ 'game.add'|trans }}
            </a>
        </li>
    </ul>
    
    <form action="{{ path('game_admin_batch_delete') }}" method="post">
        {# <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" /> #}
        
        <table class="table table-bordered table-striped records_list">
            <thead>
                <tr>
                    <th><input type="checkbox" id="batch_all" /></th>
                    <th>{{ 'game_admin.name'|trans }}</th>
                    <th>{{ 'game_admin.launchName'|trans }}</th>
                    <th>{{ 'game_admin.type'|trans }}</th>
                    <th>{{ 'game_admin.bin'|trans }}</th>
                    <th>{{ 'game_admin.map'|trans }}</th>
                    <th>{{ 'game_admin.available'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><input type="checkbox" name="idx[]" value="{{ entity.id }}" /></td>
                    <td><a href="{{ path('game_admin_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.launchName }}</td>
                    <td>{{ entity.type }}</td>
                    <td>{{ entity.bin }}</td>
                    <td>{{ entity.map }}</td>
                    <td>
                        {% if entity.available == true %}
                            <i class="icon-ok-circle"></i> 
                            oui
                        {% else %}
                            <i class="icon-ban-circle"></i>
                            non
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="form-inline">
                            <select name="action">
                                <option name="delete">{{ 'game_admin.delete'|trans }}</option>
                            </select>
                            
                            <input type="submit" value="OK" class="btn btn-primary btn-small" />
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </form>
{% endblock %}
