{% extends '::layout-online.html.twig' %}

{% block title %}
    {{ 'game_admin.add'|trans }}
{% endblock %}

{% block body -%}
    <h2>{{ 'game_admin.add'|trans }}</h2>

    <ul id="top-nav" class="nav nav-tabs">
        <li>
            <a href="{{ path('game_admin') }}">
                {{ 'admin.back'|trans }}
            </a>
        </li>
    </ul>

    {{ form(form) }}
{% endblock %}
